<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Detalle de reserva de vuelo</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form action="">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <h6>País Origen</h6>
          </div>
          <div class="form-group">
            <h6>Pais Destino</h6> 
          </div>
          <div class="form-group">
            <h6>Fecha de salida</h6> 
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <h6>Origen</h6>
            </div>
            <div class="form-group">
              <h6>Destino</h6>
            </div>
            <div class="form-group">
              <h6>Fecha de regreso</h6>
            </div>
            <div class="form-group">
              <h4>Precio total</h4>
            </div>
          </div>
      </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (submit)="addReservation()" [swal]="addSwal">Reservar</button>
</div>
</ng-template>
<div class="col-lg-12">
  <div class="card mb-3">
      <div class="card-header">
          Lista de Vuelos
      </div>
  
      <div class="card-body table-responsive">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  
                    <th>Fecha de salida</th>
                    <th>Fecha de regreso</th>
                    <th>Asientos disponibles</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody >
                <tr  *ngFor="let item of longi" >
                
                  <td>{{item.departure}}</td>
                  <td>{{item.arrival}}</td>
                  <td>{{item.id}}</td>
                  <td>{{item.price}}</td>
                  <td> <div >
                    <button 
                    class="btn btn-outline-dark"
                    style="cursor: pointer;" 
                    (click)="openModal(item.id)" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="Reservar {{type}}"
                  >
                    <i class="fa fa-cart-plus"></i>
                  </button>&nbsp;&nbsp;
                    <swal
                        #addSwal
                        title="Reserva exitosa"
                        type="success"
                        showConfirmButton=false
                        >
                      </swal>
                  </div></td> 
                </tr>      
                <tr  *ngFor="let item of longiGo" >
                
                  <td>{{item._dateI}}</td>
                  <td>{{item._dateV}}</td>
                  <td>{{item._seatavailable}}</td>
                  <td>{{item._priceupdate}}</td>
                  <td> <div >
                    <button 
                    class="btn btn-outline-dark"
                    style="cursor: pointer;" 
                    (click)="openModal(item.id)" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    title="Reservar {{type}}"
                  >
                    <i class="fa fa-cart-plus"></i>
                  </button>&nbsp;&nbsp;
                    <swal
                        #addSwal
                        title="Reserva exitosa"
                        type="success"
                        showConfirmButton=false
                        >
                      </swal>
                  </div></td> 
                </tr>      
              </tbody>
          </table>
      </div>
  </div>
  
</div>