<p>
  Registrar Hotel
</p>

   <div class="row">
     <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
      <div class="form-group">
      	<label>Nombre</label>
      	<input type="text" name="nombre" class="form-control" placeholder="Nombre..." >
      </div>
    </div>

     <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
       <div class="form-group">
      	<label>Capacidad</label>
      	<input type="number" name="capacidad" class="form-control" placeholder="Numero de habitaciones..." >
      </div>
     </div>

     <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
       <div class="form-group">
      	<label for="apellido">Telefono</label>
      	<input type="text" name="telefono" class="form-control" placeholder="Apellido...">
      </div>
     </div>

     <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
       <div class="form-group">
      	<label for="apellido">Sitio Web</label>
      	<input type="text" name="web" class="form-control" placeholder="Sitio web...">
      </div>
     </div>

</div>

<div class="grupo-botones">
  <button class="btn btn-outline-info">Guardar</button>
  <button class="btn btn-outline-danger" (click)="goToViewHotels()">Cancelar</button>
</div>
