<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Check In y Equipaje</h4>
      
      <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
          <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
  <div class="modal-body">
      <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Titulo">
            </div>
            <div class="form-group">
              <textarea placeholder="Descripción..." class="form-control" rows="3"></textarea>
            </div>
      </form>
  </div>
  
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Check In y Equipaje</button>
  </div>
</ng-template>



  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-safari" aria-hidden="true"></i>
          Check In
        </div>
        <div class="row" style="width: 48%; float: left;">
          <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                    <img style="float: left; 
                                width: 20px; 
                                height: 20px; 
                                margin-top: 3px;
                                margin-right: 3px" 
                                src="../assets/images/lupa.png" alt="">
                    <tr> Seleccionar Busqueda de Pasajero
                </div>
                <div class="card-body table-responsive" style="text-align: justify">
                  <p> Consultar Pasajero:</p>
                  <label>
                      <input id="check_numeroReserva" type="checkbox" 
                      value="checkedValue" (change)="checkeadoNumeroReserva($event)"
                       checked="checked"> Numero de Reserva 
                  </label>
                  <br>
                  <label>
                    <input id="check_pasaporte" value="checkedValue" type="checkbox"
                    (change)="checkeadoPasaporte($event)"> Pasaporte
                  </label>
                  
                </div>
            
              <div id = "numero_boleto" class="row" style="width: 50%;">
                <div class="col-md-12">
                  <div class="card mb-3">
                      <div class="card-body table-responsive" style="text-align: justify">
                        <form [formGroup]="form" >
                          <div class="col-lg-12 text-center">
                              <div class="form-group">
                                <input type="text" class="form-control" 
                                placeholder="Numero De Boleto">
                              </div>
                                <swal
                                  #addSwal2
                                  title="Buscado con los Campos Ingresados"
                                  type="success"
                                  showConfirmButton=false
                                  timer=2500>
                                </swal>
                                <button style="margin-right:40%"  class="btn btn-primary float-right">Buscar</button>
                                <!-- <button style="margin-right:40%" (click) = "listadoEquipaje()" class="btn btn-success float-right">Buscar</button> -->
                                <!-- [swal]="addSwal2" -->
                          </div>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
        
              <div id = "pasaporte" class="row" style="width: 50%;display:none">
                <div class="col-md-12">
                  <div class="card mb-3">
                      <div class="card-body table-responsive" style="text-align: justify">
                        <form [formGroup]="form" >
                          <div class="col-lg-12 text-center">
                              <div class="form-group">
                                <input type="text" class="form-control" 
                                placeholder="Numero De Pasaporte">
                              </div>
                              
                                <button style="margin-right:40%"  class="btn btn-primary float-right">Buscar</button>
                                
                          </div>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
            </div><!-- estos 3 -->
          </div>
        </div><!-- *** -->
        <form [formGroup]="form" >
        <div class="col-sm-4">
          <div class="form-group">
            <label for="codigo" class="labelRegistro">* Número de Pasaporte:</label>
            <input tabindex="2" type="text" class="form-control" id="codigo" placeholder="Ej: F0110110"
              formControlName="codigo" name="codigo" required minlength="3" maxlength="10">
          </div>
  
          <div class="form-group">
            <label for="altitud" class="labelRegistro">* Número de Vuelo:</label>
            <input tabindex="5" type="number" class="form-control" id="altitud" placeholder="Altitud"
              formControlName="altitud" name="altitud" required min="0">
          </div>

          <div class="form-group">
            <label for="nombre" class="labelRegistro">* Nombre Pasajero:</label>
                <input tabindex="1" type="text" class="form-control" placeholder="Nombre" id="nombre"
                  formControlName="nombre" name="nombre" required minlength="3" maxlength="80">
          </div>

          <div class="row">
            <div class="col-md-12">
              <swal
              #addSwal1
              title="Pasajero Checkeado Satisfactoriamente"
              type="success"
              showConfirmButton=false
              timer=2500>
            </swal>
            <button style="margin-right:45%" class="btn btn-success float-right" [swal]="addSwal1">Check In</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div><!-- estos 3 -->
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-safari" aria-hidden="true"></i>
        Registro de Equipaje
      </div>
     
      <form [formGroup]="form" >
      <!-- Tercera fila -->
      <div class="col-sm-4">
        

        <div class="form-group">
          <label for="direccion" class="labelRegistro">Descripción:</label>
          <textarea tabindex="6" matInput placeholder="Dirección" style="height: 33px;" formControlName="direccion"
            class="form-control textAreaRegistro" maxlength="300" name="direccion" cols="25"></textarea>
        </div>

        <div class="form-group">
          <label for="telefono" class="labelRegistro">Teléfono:</label>
          <input tabindex="9" type="text" class="form-control" id="telefono" placeholder="Teléfono"
            formControlName="telefono" name="telefono">
        </div>
        <swal
                        #addSwal2
                        title="Buscado con los Campos Ingresados"
                        type="success"
                        showConfirmButton=false
                        timer=2500>
                       </swal>
                       <button style="margin-right:40%" (click) = "listadoEquipaje()" class="btn btn-success float-right">Agregar</button>
      </div>
    </form>
    </div><!-- estos 3 -->
    <div id = "equipajeLista" class="row" style="display:none">
      <div class="col-lg-12">
          <div class="card mb-3">
              <div class="card-header">
                  <img style="float: left; 
                  width: 20px; 
                  height: 20px; 
                  margin-top: 3px;
                  margin-right: 3px" 
                  src="../assets/images/lista.png" alt="">
                  Listado de Equipajes de Pasajero
              </div>
              <div class="card-body table-responsive">
                  <table class="table">
                      <thead>
                      <tr>
                          <th>#</th>
                          <th>Serial</th>
                          <th>Descripción</th>
                          <th>Telefono</th>
                          <th>Fecha y Hora</th>
                          <th>Acciones</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>XSY-210</td>
                          <td>Moscú</td>
                          <td>04160132014</td>
                          <td>04-05-2019 00:00</td>
                          <a href =" "><td>Ver</td></a>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>XSY-215</td>
                          <td>Roma</td>
                          <td>04165289164</td>
                          <td>05-05-2019 00:00</td>
                          <a href =" "><td>Ver</td></a>
                      </tr>
                      <tr>
                          <th scope="row">3</th>
                          <td>XSY-219</td>
                          <td>NY City</td>
                          <td>04141171564</td>
                          <td>10-05-2019 00:00</td>
                          <a href =" "><td>Ver</td></a>
                      </tr>
                      <tr>
                          <th scope="row">4</th>
                          <td>XSY-222</td>
                          <td>Caracas</td>
                          <td>Retirado</td>
                          <td>10-05-2019 00:00</td>
                          <a href =" "><td>Ver</td></a>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>
  </div>
