<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="">
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Apellido">
                </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Editar</button>
    </div>
</ng-template>
    
<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                Agregar rutas y formalizar vuelos
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 offset-md-9 ">
                        <button class="btn btn-outline-info w-100 mb-4"> <i class="fas fa-plus"></i> Agregar Ruta</button>
                    </div>
                </div>
                <form>
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                        <ngb-panel title="Ruta 1">
                            <ng-template ngbPanelContent>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class=""><strong>Origen</strong></p>
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        <p class=""><strong>Destino</strong></p>
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        <p class=""><strong>Características</strong></p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option disabled selected>Seleccione un país</option>
                                                <option *ngFor="let country of countrys">{{country.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Ciudad">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option disabled selected>Seleccione un país</option>
                                                <option *ngFor="let country of countrys">{{country.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Ciudad">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option disabled selected>Seleccione un avión</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Precio">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class=""><strong>Duración</strong></p>
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        <p class=""><strong>Acciónes</strong></p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="" class="mb-3">Fecha de salida</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="datetime-local" value="2019-06-12T19:30" min="2019-05-10T00:00" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="" class="mb-3">Fecha de llegada</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="datetime-local" value="2019-06-13T19:30" min="2019-05-10T00:00" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="" class="mb-3 d-block">Duración (Horas)</label>
                                        <select class="form-control select-menor float-left mr-4">
                                            <option *ngFor="let hour of hours">{{hour.hour}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="" class="mb-3 d-block">Duración (Minutos)</label>
                                        <select name="" id="" class="form-control select-menor float-left">
                                            <option *ngFor="let minute of minutes">{{minute.minute}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-outline-danger eliminar"> <i class="fas fa-plus"></i> Eliminar Ruta</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <div class="">
                        <h3 class="my-4"><strong>Información del vuelo</strong></h3>
                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Precio:</strong> $380</p>
                            </div>
                            <div class="col-md-4">
                                <p><strong>Fecha de salida:</strong> 12/08/2019 08:30 p.m</p>
                            </div>
                            <div class="col-md-4">
                                <p><strong>Fecha de llegada:</strong> 12/08/2019 11:50 p.m</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3 offset-md-9">
                                <button class="btn btn-success w-100"> <i class="fas fa-plus"></i> Crear Vuelo</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>