<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                Agregar rutas y formalizar vuelos
            </div>
            <div class="card-body">
                
                <form [formGroup]="form" (submit)="submit()">
                    <div>
                        <div class="">
                            <div class="bordercito">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class=""><strong>Origen</strong></p>
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        <p class=""><strong>Destino</strong></p>
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        <p class=""><strong>Características</strong></p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control" formControlName="countryOrigen" [ngClass]="{'is-invalid': invalid('countryOrigen', form), 'is-valid': valid('countryOrigen', form)}">
                                                <option disabled selected>Seleccione un país</option>
                                                <option *ngFor="let country of countrys">{{country.name}}</option>
                                            </select>
                                            <div *ngIf="invalid('countryOrigen', form)" class="invalid-feedback">
                                                Por favor seleccione un país
                                            </div>
                                            <div *ngIf="valid('countryOrigen', form)" class="valid-feedback">
                                                ¡Excelente!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control" formControlName="cityOrigen" [ngClass]="{'is-invalid': invalid('cityOrigen', form), 'is-valid': valid('cityOrigen', form)}">
                                                <option disabled selected>Seleccione un país</option>
                                                <option *ngFor="let country of countrys">{{country.name}}</option>
                                            </select>
                                            <div *ngIf="invalid('cityOrigen', form)" class="invalid-feedback">
                                                Por favor seleccione una ciudad
                                            </div>
                                            <div *ngIf="valid('cityOrigen', form)" class="valid-feedback">
                                                ¡Excelente!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control" formControlName="countryLlegada">
                                                <option disabled selected>Seleccione un país</option>
                                                <option *ngFor="let country of countrys">{{country.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control" formControlName="cityLlegada" [ngClass]="{'is-invalid': invalid('cityLlegada', form), 'is-valid': valid('cityLlegada', form)}">
                                                <option disabled selected>Seleccione un país</option>
                                                <option *ngFor="let country of countrys">{{country.name}}</option>
                                            </select>
                                            <div *ngIf="invalid('cityLlegada', form)" class="invalid-feedback">
                                                Por favor seleccione una ciudad
                                            </div>
                                            <div *ngIf="valid('cityLlegada', form)" class="valid-feedback">
                                                ¡Excelente!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <select class="form-control" formControlName="airplane">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Precio" formControlName="price">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class=""><strong>Duración</strong></p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="" class="mb-3">Fecha de salida</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="datetime-local" class="form-control" formControlName="dateSalida">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="" class="mb-3">Fecha de llegada</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="datetime-local" class="form-control" formControlName="dateLlegada">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="" class="mb-3 d-block">Duración (Horas)</label>
                                        <select class="form-control select-menor float-left mr-4" formControlName="durationHours">
                                            <option *ngFor="let hour of hours">{{hour.hour}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="" class="mb-3 d-block">Duración (Minutos)</label>
                                        <select name="" id="" class="form-control select-menor float-left" formControlName="durationMinutes">
                                            <option *ngFor="let minute of minutes">{{minute.minute}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="">
                        <div class="row">
                            <div class="col-md-3 offset-md-9">
                                <button class="btn btn-success w-100" type="submit"> <i class="fa fa-plus"></i> Crear Vuelo</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>