@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

button{
    margin: 0;
}

small{
    color: rgb(204, 204, 204);
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.table td{
    width: 30%;
}

.eliminar{
    width: 100%;
    margin-top: 40px;
}

.bordercito{
    border: 1px solid #afafaf;
    padding: 20px;
    margin-bottom: 10px;
}