.card-body.carrito{
    background-image: url("src/assets/images/Row-of-Rental-Cars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}