<app-filter-hotel
  *ngIf="!isEditingHotel && !isCreatingHotel"
  (locationIdEmiter) = "getLocationIdEmiter($event)"
>
</app-filter-hotel>
<app-table-responsive
*ngIf="!isEditingHotel && !isCreatingHotel"
[headerTitle]="getHeaderTitle()"
[tableData]="getHotels()"
[tableHeaders]="getHeaderHotels()"
[type]="'hotel'"
(actionAlertEventEmitter)="getAlertAction($event)"
(emitRouting)="getCurrentRoute($event)"
>
</app-table-responsive>
<router-outlet (deactivate)="getDeactivatedComponent($event)"></router-outlet>
