p {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.row{
  margin-left: 10px;
  margin-right: 10px;
}
button{
  margin-right: 10px;
  margin-left: 20px;
}
.custom-file{
  margin-top: 20px;
}
label{
  margin-right: 10px;
}
form{
  margin-left: 20px;
}
