<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="panel-heading">
            <h3 class="panel-title">
                Payment Details
            </h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="form-group">
                    <label for="mp1">Metodo de pago</label>
                    <select class="custom-select" (change)="selectOption($event.target.value)" ng-model="selected">
                            <option [value]="0">
                                    Seleccione..
                            </option>
                        <option *ngFor="let paymethod of payMethods" [value]="paymethod.id">
                            {{paymethod.name}}
                        </option>
                    </select>
                </div>
                <div id="refere" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Refere</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div id="bank" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Banco</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div id="detbank" class="row">
                    <div class="col-md-6">
                        <div id="user" class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Usuario</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="pass" class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Clave</span>
                            </div>
                            <input type="password" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div id="tarj" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Tarjeta</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div id="dettarj" class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">MMYY</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">CVV</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
            </li>
        </ul>
        <br />

    </div>
    <div class="modal-footer">
        <button id="btnpay" class="btn btn-info btn-lg btn-block">Pagar $ {{GetTotal()}}</button>
    </div>
</ng-template>


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Item</th>
                        <td>   </td>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let ord of orderList">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                        src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
                                        style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="#">{{ord.descrip}}</a></h6>
                                    <h6 class="media-heading"> by <a href="#">{{ord.brand}}</a></h6>
                                    <span>Dias reservados: </span><span
                                        class="text-success"><strong>{{ord.QTY}}</strong></span>
                                </div>
                            </div>
                        </td>
                        <td>   </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ord.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ord.price * ord.qty}}</strong></td>
                            
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h6>Subtotal</h6>
                        </td>
                        <td class="text-center">
                            <h6><strong>${{GetSubTotal()}}</strong></h6>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h6>Comision%</h6>
                        </td>
                        <td class="text-center">
                            <h6><strong>${{GetComision()}}</strong></h6>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h4>Total</h4>
                        </td>
                        <td class="text-right">
                            <h4><strong>${{GetTotal()}}</strong></h4>
                        </td>
                    </tr>
                    <td>   </td>
                    <td>   <button class="btn btn-lg btn-success" (click)="open(content)">CheckOut</button>  </td>
                    <td>   </td>
                    <td>   </td>
                           
                </tbody>
            </table>
          
        </div>
    </div>
</div>