<div class="col-lg-12">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-dashboard"></i>
      <span> Lista de modelos</span>
    </div>
    <div class="card-body table-responsive">
      <input [(ngModel)]="searchText" placeholder="Buscar.." class="form-control">
      <br>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">Nombre</th>
            <th scope="col" class="text-center">Capacidad</th>
            <th scope="col" class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let model of models | FilterData: {modelName: searchText, capacity: searchText}">
            <td class="text-center">
              {{model?.modelName}}
            </td>
            <td class="text-center">
              {{model?.capacity}}
            </td>
            <td class="text-center">
              <modify-model [modelId]="model.id" [modelName]="model.modelName" [brandId]="model.brandId"
                [capacity]="model.capacity" [picture]="model.picture" [models]="models" (spread)="getModels()">
              </modify-model>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<create-model (spread)="getModels()"></create-model>