.jumbotron {
    padding-top: 0.70px; 
    background-image: url("https://images.unsplash.com/photo-1468530986413-2c93495ed020?ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80");
    background-size: cover;
}
.title {
   color:  hsla(248, 26%, 11%, 0.904); 
}
.btnsearch {
    background-color:  hsla(240, 4%, 78%, 0.904); 
    border: none;
    color: white;
 }
