<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Venta de Boletos Aereos</h4>
      
      <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
          <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
  <div class="modal-body">
      <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Titulo">
            </div>
            <div class="form-group">
              <textarea placeholder="Descripción..." class="form-control" rows="3"></textarea>
            </div>
      </form>
  </div>
  
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Venta de Boletos Aereos</button>
  </div>
</ng-template>

<div id = "paginaAvion" >
<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-safari" aria-hidden="true"></i>
        Venta de boleto de Avion
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
              <div class="card-header">
                  <img style="float: left; width: 20px; height: 20px; margin-top: 3px; margin-right: 3px" 
                              src="../assets/images/lupa.png" alt="">
                  <tr> Seleccionar Busqueda de Reserva
              </div>
              <div class="card-body table-responsive" style="text-align: justify">
                <p> Consultar reserva por:</p>
                <label>
                    <input id="check_numeroReserva" type="checkbox" 
                    value="checkedValue" (change)="checkeadoNumeroReserva($event)"
                     checked="checked"> Numero de Reserva 
                </label>
                <br>
                <label>
                  <input id="check_pasaporte" value="checkedValue" type="checkbox"
                  (change)="checkeadoPasaporte($event)"> Pasaporte
                </label>
                
              </div>
          
      <div id = "numero_reserva" class="row" style="width: 50%;">
        <div class="col-md-12">
          <div class="card mb-3">
              <div class="card-body table-responsive" style="text-align: justify">
                <form [formGroup]="form" >
                  <div class="col-lg-12 text-center">
                      <div class="form-group">
                        <input type="text" class="form-control" 
                        placeholder="Numero De Reserva">
                      </div>
                        <swal
                          #addSwal2
                          title="Buscado con los Campos Ingresados"
                          type="success"
                          showConfirmButton=false
                          timer=2500>
                         </swal>
                         <button style="margin-right:40%"  class="btn btn-primary float-right">Buscar</button>
                         <!-- <button style="margin-right:40%" (click) = "listadoEquipaje()" class="btn btn-success float-right">Buscar</button> -->
                         <!-- [swal]="addSwal2" -->
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>

      <div id = "pasaporte" class="row" style="width: 50%;display:none">
        <div class="col-md-12">
          <div class="card mb-3">
              <div class="card-body table-responsive" style="text-align: justify">
                <form [formGroup]="form" >
                  <div class="col-lg-12 text-center">
                      <div class="form-group">
                        <input type="text" class="form-control" 
                        placeholder="Numero De Pasaporte">
                      </div>
                        <swal
                          #addSwal2
                          title="Buscado con los Campos Ingresados"
                          type="success"
                          showConfirmButton=false
                          timer=2500>
                         </swal>
                         <button style="margin-right:40%"  class="btn btn-primary float-right">Buscar</button>
                         <!-- <button style="margin-right:40%" (click) = "listadoEquipaje()" class="btn btn-success float-right">Buscar</button> -->
                         <!-- [swal]="addSwal2" -->
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div><!-- estos 3 -->
  </div>
</div><!-- *** -->
      <div class="card-body table-responsive">
        <form [formGroup]="form">
          <div class="row">
            
            
            <div class=" form-check-inline col-md-12" style="padding: 0px 0px 10px 16px;"  >
              <div *ngFor="let type of typeFlights" style="margin-right:15px">
                <input  id="{{type.id}}" name="paymentMethod" type="radio" class="form-check-input"
                 (change)="radioChangeHandler($event)"  >
                <label class="form-check-label" for="type">{{type.name}}</label>
              </div> 
            </div>
                
            
           <!-- Origin Field -->
            <div class="col-md-6">
                <div class="input-group-text"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Origen" formControlName="origen">
              </div>
            </div>

            <!-- Destiny Field -->
            <div class="col-md-6">
                <div class="input-group-text"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Destino" formControlName="destino">
                </div>
            </div>

             
            <div class="col-md-3">
                <label for="">Fecha de Salida</label>
                <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <div class="form-group">
                  <input id="out_id" type="date" class="form-control" placeholder="FechaS" formControlName="fechaS">
                </div>
            </div>
            
            <!-- Date Field -->
            <div class="col-md-3">
                <label for="">Fecha de Entrada</label>
                <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <div class="form-group">
                  <input  id="entry_id" type="date" class="form-control" placeholder="FechaE" formControlName="fechaE">
                </div>
            </div>

            <div class="col-md-3">
                <label for="">Pasajeros</label>
                <div class="input-group-text"><i class="fa fa-users" aria-hidden="true"></i></div>
                <div class="form-group">
                  <select class="form-control" formControlName="ClassFlight">
                     <option value="-1" disabled>Adulto</option>
                     <option *ngFor="let adult of adultFlights" value="{{ adult.id }}">{{ adult.id }}</option>
                  </select>
                  </div>
            </div> 
         
            <div class="col-md-6" >
                <button type="button" class="btn btn-primary" style="width: 141px;margin: auto;" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Buscar
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


</div>

