<div class="middle-box text-center loginscreen">
    <div class="contenido">
        <h3>¡Bienvenido a Vacanze!</h3>
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            <button class="btn btn-primary btn-fill" (click)="navigateToDashboard()">Iniciar sesión</button>
            <a href="#"><small>Olvidaste la contraseña?</small></a> 
            <hr>
            <button class="btn btn-info btn-fill">Registrarse</button>
        </form>
    </div>
</div>