<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Añadir comentario</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="commentForm">
      <div class="row">
        <div class="form-group col">
          <textarea class="form-control" placeholder="Comentario" formControlName="comment" cols="15" rows="10"
            maxlength="200"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"[disabled]="!commentForm.valid" class="btn btn-success" (click)="addComment()">Añadir</button>
  </div>
</ng-template>

<div class="container">
  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn btn-secondary m-1" (click)="goBack()">Regresar</button>
    <button type="button" class="btn btn-info m-1" (click)="goDiary()">Ver diario</button>
  </div>
  <ngb-tabset justify="justified" #tabs [activeId]="selectedTab" (tabChange)="onTabChange($event)">
    <ngb-tab title="Vuelos" id="flight">
      <ng-template ngbTabContent>
        <div class="card mt-3" *ngFor="let fligReservation of fligReservations" style="max-width: 55rem;"
          (click)="open(content, fligReservation.id)">
          <div class="card-title mt-3 mb-n2">
            <h5 style="text-align: center">
              {{fligReservation.flight.loc_departure.country}} - {{fligReservation.flight.loc_departure.city}}
              <a class="fa fa-fw fa-arrow-right"></a>
              {{fligReservation.flight.loc_arrival.country}} - {{fligReservation.flight.loc_arrival.city}}
            </h5>
          </div>
          <hr>
          <div class="row">
            <p class="col d-flex justify-content-center ml-3">
              Salida: {{fligReservation.flight.departureDate}}
              <br>
              Aerolínea: {{fligReservation.flight.plane.airline}}
            </p>
            <p class="col d-flex justify-content-center ml-3">
              Llegada: {{fligReservation.flight.arrivalDate}}
              <br>
              Monto: {{fligReservation.flight.price}}
            </p>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Hoteles" id="hotel">
      <ng-template ngbTabContent>
        <div class="card mt-3" *ngFor="let hoteReservation of hoteReservations" style="max-width: 55rem;"
          (click)="open(content, hoteReservation.id)">
          <div class="card-title mt-3 mb-n2">
            <h5 style="text-align: center">{{hoteReservation.hotel.name}}</h5>
          </div>
          <hr>
          <div class="row">
            <p class="col d-flex justify-content-center ml-3">
              Entrada: {{hoteReservation.checkInDate}}
              <br>
              Dirección: {{hoteReservation.hotel.address_specs}}
              <br>
              Teléfono: {{hoteReservation.hotel.tlf}}
            </p>
            <p class="col d-flex justify-content-center ml-3">
              Salida: {{hoteReservation.checkOutDate}}
              <br>
              Capacidad: {{hoteReservation.num_ppl}}/{{hoteReservation.hotel.room_capacity}}
              <br>
              Monto: {{hoteReservation.hotel.price}}
            </p>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Vehículos" id="vehicle">
      <ng-template ngbTabContent>
        <div class="card mt-3" *ngFor="let autoReservation of autoReservations" style=" max-width: 55rem;"
          (click)="open(content, autoReservation.id)">
          <div class="card-title mt-3 mb-n2">
            <h5 style="text-align: center">{{autoReservation.auto.make}} - {{autoReservation.auto.model}}</h5>
          </div>
          <hr>
          <div class="row">
            <p class="col d-flex justify-content-center ml-3">
              Pick Up: {{autoReservation.pickupDate}}
              <br>
              Capacidad: {{autoReservation.auto.capacity}}
            </p>
            <p class="col d-flex justify-content-center ml-3">
              Retorno: {{autoReservation.returnDate}}
              <br>
              Monto: {{autoReservation.auto.price}}
            </p>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Restaurantes" id="restaurant">
      <ng-template ngbTabContent>
        <div class="card mt-3" *ngFor="let restReservation of restReservations" style="max-width: 55rem;"
          (click)="open(content, restReservation.id)">
          <div class="card-title mt-3 mb-n2">
            <h5 style="text-align: center">{{restReservation.restaurant.businessname}}</h5>
          </div>
          <hr>
          <div class="row">
            <p class="col d-flex justify-content-center ml-3">
              Especialidad: {{restReservation.restaurant.specialty}}
              <br>
              Dirección: {{restReservation.restaurant.address_specs}}
              <br>
              Teléfono: {{restReservation.restaurant.tlf}}
            </p>
            <p class="col d-flex justify-content-center ml-3">
              Fecha: {{restReservation.date}}
              <br>
              Capacidad: {{restReservation.capacity}}
              <br>
              Monto: {{restReservation.restaurant.price}}
            </p>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<add-reservation-travel [activeId]="activeId"></add-reservation-travel>