<div class="container">
  <div class="row">
    <div class="col">
      <h3>{{travel.name}}</h3>
    </div>
    <div class="col-2">
      <button class="btn btn-secondary" routerLink="/travel">Regresar</button>
    </div>
  </div>
  <div class="row ml-2">
    <h5>{{travel.description}}</h5>
  </div>
  <hr>
  <div class="row">
    <!-- <Card de ciudades -->
    <div class="col-auto mb-3" *ngFor="let city of cities; let id = index">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body" (click)="travelDetails(city.id)">
          <h5>{{city.city}}</h5>
          <div class="row align-items-center">
            <!--<div class="col-10" (click)="travelDetails(city.id)">
              <h5>{{city.city}}</h5>
            </div>-->
            <div class="col-2">
              <button class="btn btn-sm btn-outline-info" title="Editar Ciudad" (click)="open(content)">
                  <i class=" fa fa-xs fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-outline-danger" title="Eliminar ciudad" (click)="deleteCity(city.id)">
                <i class="fa fa-xs fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted" style="text-align: center" (click)="travelDetails(city.id)">
          {{city.country}}
        </div>
      </div>
    </div>
    <!-- Card de ciudades/> -->
  </div>

  <add-city (spread)="getCities()"></add-city>
</div>