<app-buscar-automovil></app-buscar-automovil>
<router-outlet></router-outlet>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Detalle de reserva automóvil</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <h6>Marca</h6>
              </div>
              <div class="form-group">
                <h6>Modelo</h6> 
              </div>
              <div class="form-group">
                <h6>Capacidad</h6> 
              </div>
              <div class="form-group">
                <h6>Precio por día</h6> 
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <h6>Ciudad</h6>
                </div>
                <div class="form-group">
                  <h6>Fecha de alquiler</h6>
                </div>
                <div class="form-group">
                  <h6>Fecha de devolución</h6>
                </div>
                <div class="form-group">
                  <h4>Precio total</h4>
                </div>
              </div>
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('Close click')">Reservar</button>
    </div>
</ng-template>

<div class="row">
  <div class="col-md-12">
      <div class="card mb-3">
          <div class="card-header">
              Buscar Automóvil
          </div>
          <div class="card-body table-responsive">
            <form [formGroup]="form">
              <div class="row">
                  <div class="col-md-2">
                      <div class="form-group">
                          
                          <select class="form-control"  [ngClass]="{'is-invalid': invalid('Country', form), 'is-valid': valid('Country', form)}" formControlName="Country">
                              <option *ngFor="let location of locations" [value]="location.id">{{location.country}}</option>
                            </select>
                        </div>
                  </div>
                <div class="col-md-2">
                    <div class="form-group">
                        
                        <select class="form-control"  [ngClass]="{'is-invalid': invalid('City', form), 'is-valid': valid('City', form)}" formControlName="City">
                          <option disabled selected>Ciudad...</option> 
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                </div>
                <div class="form-group">
                    <h6 style="padding-top:7%; text-align: right;">Fecha de alquiler:</h6>
                  </div>

            <div class="col-md-2">
                <div class="form-group">
                    <input id="datefieldAlq" type="date" min="2019-05-24" max="2020-01-01" class="form-control" [ngClass]="{'is-invalid': invalid('CheckIn', form), 'is-valid': valid('CheckIn', form)}" formControlName="CheckIn">
                  </div>
            </div>
            <div class="form-group">
                <h6 style="padding-top:7%; text-align: right;">Fecha de devolución:</h6>
              </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input id="datefieldDev" type="date" min="2019-05-24" max="2020-01-01" class="form-control" [ngClass]="{'is-invalid': invalid('CheckOut', form), 'is-valid': valid('CheckOut', form)}" formControlName="CheckOut">
                  </div>
            </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <swal
                        #addSwal
                        title="Buscando"
                        type="success"
                        showConfirmButton=false
                        timer=2500>
                      </swal>
                        <button class="btn btn-success float-right" [swal]="addSwal" type="submit" (click)="submit()">Buscar</button>
                      </div>
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                Listado de automoviles
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Capacidad</th>
                        <th>Precio por día</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Audi</td>
                        <td>A4</td>
                        <td>5</td>
                        <td>$69</td>
                        <td>
                          <button (click)="openLg(content)" class="btn btn-success">Ver Detalle</button>
                          <swal
                            #deleteSwal
                            title="Buscando"
                            type="question"
                            [showCancelButton]="true"
                            [focusCancel]="true"
                            (confirm)="deleteFile()" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                          </swal>
                        </td>
                    </tr>
                    <tr>
                        <td>Audi</td>
                        <td>A4</td>
                        <td>5</td>
                        <td>$69</td>
                        <td>
                          <button (click)="openLg(content)" class="btn btn-success">Ver Detalle</button>
                          <swal
                            #deleteSwal
                            title="Desea eliminar el registro?"
                            type="question"
                            [showCancelButton]="true"
                            [focusCancel]="true"
                            (confirm)="deleteFile()" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                          </swal>
                        </td>
                    </tr>
                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
