<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario">
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Apellido">
                </div>
              </div>
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Editar</button>
    </div>
</ng-template>

<div class="row">
  <div class="col-md-12">
      <div class="card mb-4">
          <div class="card-header">
              Datos de la reserva del automovil
          </div>
          <div class="card-body table-responsive">
            <form action="">
              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <b style="padding-top:4%; color: black;">Ciudad seleccionada: Caracas</b>
                        </div>
                  </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b style="padding-top:4%; color: black;">Fecha de Alquiler: mm/dd/yyyy</b>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b style="padding-top:4%; color: black;">Fecha de Devolucion: mm/dd/yyyy</b>
                      </div>
                </div>
              </div>


            </form>
          </div>
      </div>
  </div>
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                Datos del automovil
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="text-align:center;">Caracteristicas</th>
                        <th style="text-align:center;">Capacidad</th>
                        <th style="text-align:center;">Precio por dia</th>
                        <th style="text-align:center;">Precio Total</th>
                        <th style="padding-left:2%;">Reservacion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align:center;"><img src="/src/assets/images/ac.png">Aire Acondicionado<img src="/src/assets/images/manual-transmission.png"> Sincronico</td>
                        <td style="text-align:center;">5</td>
                        <td style="text-align:center;">69$</td>
                        <th style="text-align:center;">138$</th>
                        <td>
                          <button (click)="open(content)" class="btn btn-primary">Reservar</button>
                          <swal
                            #deleteSwal
                            title="Desea eliminar el registro?"
                            type="question"
                            [showCancelButton]="true"
                            [focusCancel]="true"
                            (confirm)="deleteFile()" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                          </swal>
                        </td>
                    </tr>
                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>