<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar vuelo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Lugar de origen:</strong> {{flight.loc_departure}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Lugar de destino:</strong> {{flight.loc_arrival}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Fecha de salida:</strong> {{flight.departure}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Fecha de llegada:</strong> {{flight.arrival}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <p><strong>Avión:</strong> {{flight.plane}}</p>
                        </div>
                        <div class="col-md-6">
                          <p><strong>Precio:</strong> $ {{flight.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <form [formGroup]="flightForm" (ngSubmit)="onFormSubmit(flightForm.value)">
            <div class="bloque my-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Lugar de origen</label>
                            <select class="form-control" formControlName="loc_departure"
                            [ngClass]="{'is-invalid': invalid('loc_departure', flightForm), 'is-valid':
                            valid('loc_departure', flightForm)}">
                                <option *ngFor="let country of countries">{{country.nombre}}</option>
                            </select>
                            <div *ngIf="invalid('loc_departure', flightForm)" class="invalid-feedback">
                                Por favor seleccione un país
                            </div>
                            <div *ngIf="valid('loc_departure', flightForm)" class="valid-feedback">
                                ¡Excelente!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Lugar de destino</label>
                                <select class="form-control" formControlName="loc_arrival"
                                [ngClass]="{'is-invalid': invalid('loc_arrival', flightForm), 'is-valid':
                                valid('loc_arrival', flightForm)}">
                                    <option *ngFor="let country of countries">{{country.nombre}}</option>
                                </select>
                                <div *ngIf="invalid('loc_arrival', flightForm)" class="invalid-feedback">
                                    Por favor seleccione un país
                                </div>
                                <div *ngIf="valid('loc_arrival', flightForm)" class="valid-feedback">
                                    ¡Excelente!
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="">Avión</label>
                        <select class="form-control" formControlName="plane" [ngClass]="{'is-invalid': invalid('plane', flightForm), 'is-valid': valid('plane',
                            flightForm)}">
                          <option *ngFor="let airplane of airplanes let i = index;" [value]="airplane.id">
                            {{airplane.model}}</option>
                        </select>
                        <div *ngIf="invalid('plane', flightForm)" class="invalid-feedback">
                          Por favor seleccione un avión
                        </div>
                        <div *ngIf="valid('plane', flightForm)" class="valid-feedback">
                          ¡Excelente!
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="">Precio</label>
                          <input type="text" class="form-control" placeholder="Precio" formControlName="price"
                            [ngClass]="{'is-invalid': invalid('price', flightForm), 'is-valid': valid('price',
                            flightForm)}">
                          <div *ngIf="invalid('price', flightForm)" class="invalid-feedback">
                            Por favor, seleccione un precio. Ejemplo: 1580
                          </div>
                          <div *ngIf="valid('price', flightForm)" class="valid-feedback">
                            ¡Excelente!
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="" class="">Fecha de salida</label>
                        <div class="form-group">
                          <input type="datetime-local" class="form-control" formControlName="departure"
                            [ngClass]="{'is-invalid': invalid('departure', flightForm), 'is-valid': valid('departure',
                            flightForm)}">
                          <div *ngIf="invalid('departure', flightForm)" class="invalid-feedback">
                            Por favor seleccione una fecha de salida. Ejemplo: 25/05/2019 02:30 p.m.
                          </div>
                          <div *ngIf="valid('departure', flightForm)" class="valid-feedback">
                            ¡Excelente!
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="" class="">Fecha de llegada</label>
                        <div class="form-group">
                          <input type="datetime-local" class="form-control" formControlName="arrival"
                            [ngClass]="{'is-invalid': invalid('arrival', flightForm), 'is-valid': valid('arrival',
                            flightForm)}">
                          <div *ngIf="invalid('arrival', flightForm)" class="invalid-feedback">
                            Por favor seleccione una fecha de salida. Ejemplo: 28/05/2019 02:30 p.m.
                          </div>
                          <div *ngIf="valid('arrival', flightForm)" class="valid-feedback">
                            ¡Excelente!
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- -->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Editar</button>
    </div>
</ng-template>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                Listado de vuelos
            </div>
            <div class="card-body table-responsive">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Número de vuelo</th>
                                <th scope="col">Rutas</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of flights; let i = index">
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.plane.id}}</td>
                                <td>
                                    <strong>Origen:</strong> {{item.loc_arrival}} -
                                    {{item.departure}} - <strong>Destino:</strong> {{item.loc_departure}} -
                                    {{item.arrival}} <br>
                                </td>
                                <td>${{item.price}}</td>
                                <td>
                                    <button class="btn btn-outline-info float-left mr-3" (click)="openLg(content, item.plane.id)"><i class="fa fa-edit"></i></button>
                                    <swal
                                        #deleteSwal
                                        title="¿Desea eliminar el vuelo?"
                                        type="question"
                                        [showCancelButton]="true"
                                        [focusCancel]="true"
                                        (confirm)="deleteFile(i+1)" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                                    </swal>
                                    <button [swal]="deleteSwal" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>