<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar vuelo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p><strong>País y ciudad de salida:</strong> {{flight.loc_departure}}</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>País y ciudad de llegada:</strong> {{flight.loc_arrival}}</p>
                            
                        </div>
                        <div class="col-md-4">
                            <p><strong>Precio:</strong> $ {{flight.price}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Fecha de salida:</strong> {{flight.departure}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Fecha de llegada:</strong> {{flight.arrival}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <form [formGroup]="flightForm" (ngSubmit)="onFormSubmit(flightForm.value)">
            <div class="bloque my-3">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Origen</strong></p>
                        <hr>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Destino</strong></p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" formControlName="countrySalida" [ngClass]="{'is-invalid': invalid('countrySalida', flightForm), 'is-valid': valid('countrySalida', flightForm)}">
                                <option *ngFor="let country of countries">{{country.nombre}}</option>
                            </select>
                            <div *ngIf="invalid('countrySalida', flightForm)" class="invalid-feedback">
                                Por favor seleccione un país
                            </div>
                            <div *ngIf="valid('countrySalida', flightForm)" class="valid-feedback">
                                ¡Excelente!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    <div class="form-group">
                            <select class="form-control" formControlName="citySalida" [ngClass]="{'is-invalid': invalid('citySalida', flightForm), 'is-valid': valid('citySalida', flightForm)}">
                                <option *ngFor="let country of countries">{{country.nombre}}</option>
                            </select>
                            <div *ngIf="invalid('citySalida', flightForm)" class="invalid-feedback">
                                Por favor seleccione un país
                            </div>
                            <div *ngIf="valid('citySalida', flightForm)" class="valid-feedback">
                                ¡Excelente!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" formControlName="countryLlegada" [ngClass]="{'is-invalid': invalid('countryLlegada', flightForm), 'is-valid': valid('countryLlegada', flightForm)}">
                                <option *ngFor="let country of countries">{{country.nombre}}</option>
                            </select>
                            <div *ngIf="invalid('countryLlegada', flightForm)" class="invalid-feedback">
                                Por favor seleccione un país
                            </div>
                            <div *ngIf="valid('countryLlegada', flightForm)" class="valid-feedback">
                                ¡Excelente!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" formControlName="cityLlegada" [ngClass]="{'is-invalid': invalid('cityLlegada', flightForm), 'is-valid': valid('cityLlegada', flightForm)}">
                                <option *ngFor="let country of countries">{{country.nombre}}</option>
                            </select>
                            <div *ngIf="invalid('cityLlegada', flightForm)" class="invalid-feedback">
                                Por favor seleccione un país
                            </div>
                            <div *ngIf="valid('cityLlegada', flightForm)" class="valid-feedback">
                                ¡Excelente!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>Características</strong></p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control">
                                <option disabled selected>Seleccione un avión</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" placeholder="Precio" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" placeholder="Fecha de salida" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" placeholder="Fecha de llegada" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- -->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Editar</button>
    </div>
</ng-template>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                Listado de vuelos
            </div>
            <div class="card-body table-responsive">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Número de vuelo</th>
                                <th scope="col">Rutas</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of flights; let i = index">
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.plane.id}}</td>
                                <td>
                                    <strong>Origen:</strong> {{item.loc_arrival}} -
                                    {{item.departure}} - <strong>Destino:</strong> {{item.loc_departure}} -
                                    {{item.arrival}} <br>
                                </td>
                                <td>${{item.price}}</td>
                                <td>
                                    <button class="btn btn-outline-info float-left mr-3" (click)="openLg(content, item.plane.id)"><i class="fa fa-edit"></i></button>
                                    <swal
                                        #deleteSwal
                                        title="¿Desea eliminar el vuelo?"
                                        type="question"
                                        [showCancelButton]="true"
                                        [focusCancel]="true"
                                        (confirm)="deleteFile(i+1)" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                                    </swal>
                                    <button [swal]="deleteSwal" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>