<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear un nuevo viaje</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="travelForm">
      <div class="row">
        <div class="form-group col">
          <input type="text" class="form-control" placeholder="Nombre" formControlName="name" maxlength="40">
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <textarea class="form-control" placeholder="Descripción" formControlName="description" cols="15"
            rows="10" maxlength="500"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="!travelForm.valid" class="btn btn-success" (click)="createTravel()">Crear</button>
  </div>
</ng-template>

<div class="d-flex justify-content-end align-items-end w-100" style="height: 295px;">
  <div class="kreep">
    <button (click)="open(content)" type="button" class="btn btn-info btn-circle btn-xl" data-toggle="tooltip"
      data-placement="top" title="Agregar {{type}}">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>