<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">
                <label style="color: black" for=""><strong>Modificar informacion del Automovil</strong></label>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body table-responsive" style="text-align: justify">
            <p>
              (dentro de parentesis son los datos actuales del automovil)
            </p>
          </div>
        <div class="modal-body">
            <form [formGroup]="formGroup" action="">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label style="color: black" for=""><strong>Matricula ({{modificarauto._licence}})</strong></label>
                    <input type="text" class="form-control" placeholder="{{modificarauto._licence}}"   formControlName="matricula">
                  </div>
                  <div class="form-group">
                      <label style="color: black" for=""><strong>Marca  ({{modificarauto._make}})</strong></label>
                    <input type="text" class="form-control"   placeholder="{{modificarauto._make}}" formControlName="marca">
                  </div>
                  <div class="form-group">
                      <label style="color: black" for=""><strong>Modelo ({{modificarauto._model}})</strong></label>
                    <input type="text" class="form-control"  placeholder="{{modificarauto._model}}" formControlName="modelo">
                  </div>
                  <label style="color: black" for=""><strong>Ciudad ({{nombreciudad.country}})</strong></label>
                  <select class="form-control"   formControlName="ciudad">
                    <option *ngFor="let country of countries" [value]="country.id">{{country.country}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="color: black" for=""><strong>Capacidad ({{modificarauto._capacity}})</strong></label>
                      <input type="number"   class="form-control" placeholder="{{modificarauto._capacity}}" 
                      formControlName="capacidad" min = "0">
                    </div>
                    <div class="form-group">
                        <label style="color: black" for="" *ngIf="modificarauto._isActive== true"><strong>Estatdo (Disponible)</strong></label>
                        <label style="color: black" for="" *ngIf="modificarauto._isActive== false"><strong>Estado (Reservado)</strong></label>
                      <select class="form-control" 
                       formControlName="estatus"   >
                        <option value="-1" disabled> Estado del automovil</option>
                        <option value="true">Disponible</option>
                        <option value="false">Reservado</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label style="color: black" for=""><strong>Precio ({{modificarauto._price}}$)</strong></label>
                      <input type="number"  value="hola"  class="form-control" placeholder="{{modificarauto._price}}" formControlName="precio" min = "0">
                    </div>
                  </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <swal
            #editSwal
            title="Automovil actualizado satisfactoriamente"
            type="success"
            showConfirmButton=false
            timer=2500>
          </swal>
            <button type="button" class="btn btn-secondary" [swal]="editSwal" (click)="modificar()" (click)="c('Close click') " >Modificar Automovil</button>
        </div> 
      </ng-template>


<div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-search "></i>
                <label style="color: black" for=""><strong>Detalles de busqeda de automoviles</strong></label> 
            </div>
            <div class="card-body table-responsive" style="text-align: justify">
                <p>
                  A continuación usted podra consultar los automoviles registrados en vacanze
                  a traves de la ciudad donde operan, adicionalmente podra detallar mejor la busqueda
                  ingresando la matricula, cantidad de pasajeros y/o seleccionando el estado
                  del vehiculo, acto seguido oprima el boton "Llenar Lista".
                </p>
              </div>
            <div class="card-body roomcito">
              <form [formGroup]="form" >
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label style="color: black" for=""><strong>Ciudad</strong></label>
                      <select 
                      class="form-control" 
                      formControlName="ciudad"
                      [ngClass]="{'is-invalid':form.get('ciudad').touched && !form.get('ciudad').valid, 'is-valid':form.get('ciudad').touched && form.get('ciudad').valid}">
                        <option *ngFor="let country of countries" [value]="country.id">{{country.country}}</option>
                      </select>
                      <div *ngIf="form.get('ciudad').touched && !form.get('ciudad').valid" class="invalid-feedback">
                          Seleccione la ciudad para consultar su lista de automoviles.
                      </div>
                      <div *ngIf="form.get('ciudad').touched && form.get('ciudad').valid"
                        class="valid-feedback">
                          ¡Excelente!
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label style="color: black" for=""><strong>Matricula</strong></label>
                      <input type="text" class="form-control" placeholder="matricula de autos"
                      formControlName="matricula" >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label style="color: black" for=""><strong>cantidad de pasajeros</strong></label>
                      <input type="number" class="form-control" placeholder="# de pasajeros" min="0"  formControlName="capacidad" >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label style="color: black" for=""><strong>Estado del auto</strong></label>
                      <select class="form-control" formControlName="estatus" >
                        <option value ="null" >  </option>
                        <option value="true">Disponible</option>
                        <option value="false">Reservado</option>
                      </select> 
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-outline-success" type="submit" (click)="consultarauto(modificarauto)">Llenar lista</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      
          <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-list "></i>
                <label style="color: black" for=""><strong>Listado de automoviles segun el detalle de busqueda</strong></label> 
            </div>
            <div class="card-body table-responsive">
              <div class="row">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" aria-disabled>#</th>
                      <th scope="col">Matricula</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Capacidad</th>
                      <th scope="col">Estado del vehiculo</th>
                      <th scope="col">Precio ($)</th>
                      <th scope="col">Ciudad ubicada </th>
                      <th scope="col">Opciones</th>

                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let auto of autos let indice=index">
                          <th scope="row">{{indice+1}}</th>
                          <th >{{auto._licence}}</th>
                          <td>{{auto._make}}</td>
                          <td>{{auto._model}}</td>
                          <td>{{auto._capacity}}</td>
                          <td *ngIf="auto._isActive== true">Disponible</td>
                          <td *ngIf="auto._isActive== false">Reservado</td>
                          <td>{{auto._price}} $</td>
                          <td>{{nombreciudad.country}}</td>
                          <td>
                              <button (click)="open(content , auto)"><i class="fa fa-edit"></i></button>
                              <swal
                                #deleteSwal
                                title="Desea Borrar el automovil?"
                                type="question"
                                [showCancelButton]="true"
                                [focusCancel]="true"
                                (confirm)="deleteFile(auto)" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'No, cancelar'  }">
                              </swal>
                              <button [swal]="deleteSwal"><i class="fa fa-trash"></i></button>
                            </td>
                      </tr>    
                      </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>