
<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-safari" aria-hidden="true"></i>
        Reservas
      </div>
      <div class="card-body table-responsive">
        <form [formGroup]="form">
            <div class=" form-check-inline col-md-12" style="padding: 0px 0px 10px 16px;"  >
                <div *ngFor="let type of typeFlights" style="margin-right:15px">
                  <input  id="{{type.id}}" name="paymentMethod" type="radio" class="form-check-input" (change)="radioChangeHandler($event)"  >
                  <label class="form-check-label" for="type">{{type.name}}</label>
                </div> 
              </div> 
          <div class="row" *ngIf="selectMult">
        
           <!-- Origin Field -->
            <div class="col-md-2">
                <label for="">Origen</label>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Origen" formControlName="origen">
              </div>
            </div>

            <!-- Destiny Field -->
            <div class="col-md-2">
                <label for="">Destino</label>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Destino" formControlName="destino">
                </div>
            </div>

             
            <div class="col-md-3">
                <label for="">Fecha de Salida</label>
                <div class="form-group">
                  <input id="out_id" type="date" class="form-control" placeholder="FechaS" formControlName="FechaS">
                </div>
            
              <div class="form-check" style="margin: -8px 47px 8px 3px;font-size: 16px;">
                <label class="form-check-label">
                  <input class="form-check-input" name="" id="date_id" type="checkbox" value="checkedValue" aria-label="Text for screen reader" (change)="checkboxSelected($event)" >
                  Todavia no tengo Fecha
                </label>
              </div>
            </div>
            
            <!-- Date Field -->
            <div class="col-md-3">
                <label for="">Fecha de Regreso</label>
                <div class="form-group">
                  <input  id="entry_id" type="date" class="form-control" placeholder="FechaE" formControlName="fechaE">
                </div>
            </div>

            <div class="col-md-2">
                <label for="">Pasajeros</label>
                <div class="form-group">
                  <select class="form-control" formControlName="ClassFlight">
                     <option value="-1" disabled>Adulto</option>
                     <option *ngFor="let adult of adultFlights" value="{{ adult.id }}">{{ adult.id }}</option>
                  </select>
                  </div>
            </div> 
         
            <div class="col-md-6" >
                <button type="button" class="btn btn-primary" style="width: 141px;margin: auto;" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Buscar
                </button>
            </div>
        </div>


        <div class="row" *ngIf="selectMult==false" >
          <ng-container *ngFor="let number of arrayNumber">
            
            <div class="col-md-12">
              <h4>Destino {{number}}</h4>
            </div>

                <!-- Origin Field -->
            <div class="col-md-2">
                <label for="">Origen</label>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Origen" formControlName="origen">
              </div>
            </div>

            <!-- Destiny Field -->
            <div class="col-md-2">
                <label for="">Destino</label>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Destino" formControlName="destino">
                </div>
            </div>

             
            <div class="col-md-3">
                <label for="">Fecha de Salida</label>
                <div class="form-group">
                  <input id="out_id" type="date" class="form-control" placeholder="FechaS" formControlName="FechaS">
                </div>
            </div>
          </ng-container>
          
          <div _ngcontent-lfs-c5="">
            <button _ngcontent-lfs-c5="" class="btn btn-primary " data-placement="top" data-toggle="tooltip" 
             type="button" style="width: 42px;margin-top: 31px;" (click)="clickPushMultidestino($event)">
              <i _ngcontent-lfs-c5="" class="fa fa-plus"></i>
            </button>
          </div>


          <div _ngcontent-lfs-c5="" *ngIf="active">
            <button _ngcontent-lfs-c5="" class="btn btn-danger " data-placement="top" data-toggle="tooltip" 
             type="button" style="width: 42px;margin-top: 31px; margin-left: 5px;" (click)="clickPopMultidestino($event)">
              <i _ngcontent-lfs-c5="" class="fa fa-minus"></i>
            </button>
          </div>

            <div class="col-md-6">
              <label for="">Pasajeros</label>
              <div class="form-group">
                <select class="form-control" formControlName="ClassFlight" style="width:190px;margin-left: inherit;margin:0;">
                   <option value="-1" disabled>Adulto</option>
                   <option *ngFor="let adult of adultFlights" value="{{ adult.id }}">{{ adult.id }}</option>
                </select>
              </div>
            
         
                
                <button type="button" class="btn btn-primary" style="width: 141px;margin:0; margin-top: 13px;" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Buscar
                </button>
             
          </div>     
              
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
