.page-header-title{
    color: white;
    line-height: 1.5;
    margin: 0 0 24px;
    text-align: center;
    margin-top: 80px; 
}

#center-form{
    margin-top: 100px;
}

#fondo{    
    background-image: url("src/assets/images/avion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}