<div class="row" *ngIf="StatusHome">
  <div class="col-xl-3 col-lg-6">
    <div class="card text-white bg-primary">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col col-xs-9 text-right">
            <div class="d-block huge">50</div>
            <div class="d-block">Usuarios registrados</div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="card-footer">
        <span class="float-left white-font">Ver Detalles</span>
        <div class="float-right card-inverse">
          <span><i class="fa fa-arrow-circle-right white-font"></i></span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card text-white bg-warning">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col col-xs-9 text-right">
            <div class="d-block huge">50</div>
            <div class="d-block">Usuarios registrados</div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="card-footer">
        <span class="float-left white-font">Ver Detalles</span>
        <div class="float-right card-inverse">
          <span><i class="fa fa-arrow-circle-right white-font"></i></span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card text-white bg-success">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col col-xs-9 text-right">
            <div class="d-block huge">50</div>
            <div class="d-block">Usuarios registrados</div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="card-footer">
        <span class="float-left white-font">Ver Detalles</span>
        <div class="float-right card-inverse">
          <span><i class="fa fa-arrow-circle-right white-font"></i></span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card text-white bg-danger">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col col-xs-9 text-right">
            <div class="d-block huge">50</div>
            <div class="d-block">Usuarios registrados</div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="card-footer">
        <span class="float-left white-font">Ver Detalles</span>
        <div class="float-right card-inverse">
          <span><i class="fa fa-arrow-circle-right white-font"></i></span>
        </div>
      </a>
    </div>
  </div>
</div>
