.page-header-title{
    color: white;
    line-height: 1.5;
    margin: 0 0 24px;
    text-align: center;
}

#center-form{
    margin-top: 100px!important;
}

#boton{
    text-align: center!important;
}

#fondo{    
    background-image: url("src/assets/images/rest1.jpeg");
    align-items: center!important;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
}