<div id="fondo"> 
  <div class="container-fluid" >
    <h2 class="page-header-title">Encuentra tu mesa para cualquier ocasión.</h2>
    <form [formGroup]="formGroup" >
      <div class="row form-group ml-3 mr-3" id="center-form">
      
        <div class="col ">
          <div class="form-group input-group-prepend">
            <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
            <input id="reserva" type="date" class="form-control" formControlName="fechaReserva" [class.alert-danger]="formGroup.get('fechaReserva').invalid && subM">  
          </div>
          <span *ngIf="formGroup.get('fechaReserva').invalid && subM"  style="color:white">La fecha es un campo obligatorio.</span>
        </div>

        <div class="col ">
          <div class="form-group input-group-prepend">
            <div class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            <select id="hora" class="custom-select form-control" formControlName="horaReserva" class="form-control" [class.alert-danger]="formGroup.get('horaReserva').value==-1 && subM">
              <option value="-1" disabled>Hora</option>
              <option *ngFor='let hour of horaReserva' value="{{hour.id }}">{{hour.hour}}</option>
            </select>
          </div> 
          <span *ngIf="formGroup.get('horaReserva').value==-1 && subM"  style="color:white">La hora es un campo obligatorio.</span>
        </div>

        <div class="col ">
          <div class="form-group input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user-o" aria-hidden="true"></i></div>
            <select id="people" class="custom-select form-control" formControlName="cantidadPersonas" class="form-control" [class.alert-danger]="formGroup.get('cantidadPersonas').value==-1 && subM">
              <option value="-1" disabled>Comensales</option>
              <option *ngFor="let cant of cantidadPersonas" value="{{cant.id}}"> {{cant.name}}</option>
            </select>
          </div> 
          <span *ngIf="formGroup.get('cantidadPersonas').value==-1 && subM"  style="color:white">Los comensales es un campo obligatorio.</span>
        </div>

        <div class="col">
          <div class="form-group input-group-prepend">
            <div class="input-group-text"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <select type="text" class="form-control" (change)="selectCountry($event)" formControlName="pais" [class.alert-danger]="formGroup.get('pais').value==-1 && subM">
              <option value="-1" disabled>País</option>
              <option *ngFor="let country of countries" value={{country.id}} >
                  {{country.country}}
              </option>
            </select>
          </div>
          <span *ngIf="formGroup.get('pais').value==-1 && subM"  style="color:white">El país  es un campo obligatorio.</span>
        </div>
    
        <div class="col">
          <div class="form-group input-group-prepend">
              <div class="input-group-text"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              <select type="text" class="form-control" formControlName="ciudad" [class.alert-danger]="formGroup.get('ciudad').value==-1 && subM">
              <option value="-1" disabled>Ciudad</option>
              <option *ngFor="let city of cities" value={{city.id}}>
                  {{city.city}}
              </option>
          </select>
          </div>
          <span *ngIf="formGroup.get('pais').value==-1 && subM"  style="color:white">La ciudad  es un campo obligatorio.</span>
        </div>

      </div>
      
      <button (click)="onSubmit()" id="boton" class="btn btn-danger mb-3">Let's go.</button>
      
    </form>
  </div>
</div>
