.page-header-title{
    color: white;
    line-height: 1.5;
    margin: 0 0 24px;
    text-align: center;
    margin-top: 80px; 
}

#center-form{
    margin-top: 100px;
}

#fondo{
    align-items: center!important;
    text-align: center;
    width: 100%;
    height: 400px!important;
    background-image: url("https://i.pinimg.com/564x/14/8d/10/148d10fcaaa9565992b5149808d77020.jpg");
    background-color: transparent!important; 
}