<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Editar</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input type="text" class="form-control" placeholder="Modelo">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input type="text" class="form-control" placeholder="Placa">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input type="text" class="form-control" placeholder="Precio">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary float-right" (click)="showNotification('top','right',2)">Editar</button>
            </div>
        </div>
    </div>
</ng-template>
      
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Agregar registros
                        </div>
                        <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <input type="text" class="form-control" placeholder="Nombre">
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <input type="text" class="form-control" placeholder="Modelo">
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <input type="text" class="form-control" placeholder="Placa">
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <input type="text" class="form-control" placeholder="Precio">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary float-right" (click)="showNotification('top','right',1)">Agregar</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Módulo para la gestión de aviones</h4>
                        <p class="category">Sus características y sus rutas comerciales.</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData1.dataRows">
                                        <td *ngFor="let cell of row">{{cell}}</td>
                                        <td>
                                            <div class="font-icon-detail">
                                                <button type="button" class="btn btn-primary" (click)="openModal(template)" tooltip="Editar registro"><i class="pe-7s-pen"></i></button>
                                            </div>
                                            <div class="font-icon-detail">
                                                <button type="button" class="btn btn-danger" (click)="showNotification('top','right',4)" tooltip="Eliminar registro"><i class="pe-7s-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
