.card {
    min-height: 100%;
    background: rgb(245, 245, 245);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }
  
.card:hover {
      top: -2px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
}