<ng-template #content let-c="close" let-d="dismiss">
   <div class="modal-header">
    <h4>Registro</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="modal-body table-responsive">
      <!-- Role Field -->
      <label>Roles</label><br />
      <div class="btn-group btn-group-toggle">
        <label *ngFor="let role of roles" class="btn-outline-info" ngbButtonLabel>
          <input type="checkbox" [formControlName]="'role' + role.id" ngbButton (change)="checkboxValueChanged(role.id)">
          {{ role.name }}
        </label>
      </div>
      <div *ngIf="submitted && !isRoleSelected()" class="role-required">
        Se debe seleccionar un rol
      </div>
  
      <div class="row">
        <!-- Document ID Field -->
        <div class="col-md-12">
          <div class="form-group">
            <input mdbInput type="number" class="form-control" placeholder="Cédula de indentidaddssdsdf"
              formControlName="documentId" [ngClass]="{
                'is-invalid': submitted && form['documentId'].errors,
                'is-valid': !form['documentId'].errors
              }" />
            <div *ngIf="submitted && form['documentId'].errors" class="invalid-feedback">
              <div *ngIf="form['documentId'].errors.required">
                La cédula de identidad es requerida
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <!-- Name Field -->
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombreasdasfdasf" formControlName="name" [ngClass]="{
                'is-invalid': submitted && form['name'].errors,
                'is-valid': !form['name'].errors
              }" />
            <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
              <div *ngIf="form['name'].errors.required">
                El nombre es requerido
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <!-- Lastname Field -->
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Apellido" formControlName="lastname" [ngClass]="{
                'is-invalid': submitted && form['lastname'].errors,
                'is-valid': !form['lastname'].errors
              }" />
            <div *ngIf="submitted && form['lastname'].errors" class="invalid-feedback">
              <div *ngIf="form['lastname'].errors.required">
                El apellido es requerido
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <!-- Email Field -->
        <div class="col-md-12">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Correo Electrónico" formControlName="email" [ngClass]="{
                'is-invalid': submitted && form['email'].errors,
                'is-valid': !form['email'].errors
              }" />
            <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
              <div *ngIf="form['email'].errors.required">
                El correo electrónico es requerido
              </div>
              <div *ngIf="form['email'].errors.email">
                El formato del correo electrónico es inválido
              </div>
            </div>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-md-12 text-center">
          <swal #addSwal title="Usuario creado de manera exitosa" type="success" showConfirmButton="false" timer="2500">
          </swal>
  
          <!-- [swal]="addSwal" -->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success">Agregar</button>
    </div>
  </form>
  
</ng-template>


<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">
        Buscar habitación
      </div>
      <div class="card-body roomcito">
        <form [formGroup]="myForm" (ngSubmit)="buscador()">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label style="color: black" for=""><strong>Pais</strong></label>
                <select class="form-control" formControlName="country"
                (ngModelChange)="getCities()"
                >
                  <option *ngFor="let country of countries" [value]="country.id">{{country.country}}</option>
                </select>
              
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label style="color: black" for=""><strong>Placa</strong></label>
                <input type="text" class="form-control" placeholder="placa de autos" >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label style="color: black" for=""><strong>cantidad de pasajeros</strong></label>
                <input type="text" class="form-control" placeholder="# de pasajeros">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label style="color: black" for=""><strong>Estado del auto</strong></label>
                <select class="form-control" formControlName="Estado" >
                  <option value="1" >Disponible</option>
                  <option value="2" >No Disponible</option>
                </select> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success" type="submit">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Listado de Automovil
      </div>
      <div class="card-body table-responsive">
        <div class="row">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Estado del vehiculo</th>
                <th scope="col">Precio ($)</th>
                <th scope="col">Ciudad ubicada </th>
              </tr>
            </thead>
            <tbody>
              <tr  >
                <td scope="col">hola</td>
                <td scope="col">hola</td>
                <td scope="col">hola</td>
                <td scope="col">hola</td>
                <td scope="col">hola</td>
                <td scope="col">hola</td>
                <td scope="col">hola</td>
                <td>
                    <button (click)="openAddAutoModal()"><i class="fa fa-edit"></i></button>
                    <swal
                      #deleteSwal
                      title="Desea eliminar el registro?"
                      type="question"
                      [showCancelButton]="true"
                      [focusCancel]="true"
                      (confirm)="deleteFile()" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                    </swal>
                    <button [swal]="deleteSwal"><i class="fa fa-trash"></i></button>
                  </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>