<div class="col-lg-12">
  <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-fw fa-ship" *ngIf="type === 'cruceros'"></i>&nbsp;
        <i class="fa fa-bed" *ngIf="type === 'hotel'"></i>
        <i class="fa fa-fw fa-cutlery" *ngIf="type === 'restaurantes'"></i>
        <i class="fa fa-road" *ngIf="type === 'rutas'"></i>&nbsp;
        <span [innerHtml]="headerTitle"></span>
      </div>
      <div class="card-body table-responsive">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th *ngFor="let header of tableHeaders">{{ header }}</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody *ngIf="type === 'cruceros'; else hotelesElseBlock">
                <tr *ngFor="let boat of filterDatabyPage">
                  <td>{{ boat?.name }}</td>
                  <td>{{ boat?.capacity }}</td>
                  <td>{{ boat?.loadingShipCap }} Kg.</td>
                  <td>{{ boat?.model }}</td>
                  <td>{{ boat?.line }}</td>
                  <td class="d-flex ml-3">
                    <span class="badge badge-success" *ngIf="boat?.status">Activo</span>
                    <span class="badge badge-danger" *ngIf="!boat?.status">Inactivo</span>
                    <input type="checkbox"
                      class="form-check-input align-self-start"
                      id="estatus-checkbox"
                      [checked]="boat?.active"
                      (click)="openModalActions($event, boat, 'crucero')"
                    >
                  </td>
                  <td>

                    <button
                      class="btn btn-outline-info"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Editar crucero"
                      (click)="goToEditCruiser(boat)"
                    >
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;
                    <button
                      class="btn btn-outline-danger"
                      (click)="openModalActions($event, boat, 'crucero', true)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Eliminar crucero"
                    >
                      <i class="fa fa-trash"></i>
                    </button>&nbsp;
                    <button
                      class="btn btn-outline-success"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Agregar ruta a {{ boat?.name }}"
                      (click)="goToAddNewRoute(boat)"
                    >
                      <i class="fa fa-plus"></i>
                    </button>&nbsp;
                    <button
                      class="btn btn-outline-info"
                      (click)="goToSeeRoutes(boat)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Ver rutas de {{boat?.name}}"
                    >
                      <i class="fa fa-binoculars"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <ng-template #hotelesElseBlock>
                <tbody *ngIf="type === 'hotel'; else restaurantesElseBlock">
                  <tr *ngFor="let hotel of filterDatabyPage">
                    <td>{{ hotel?.id }}</td>
                    <td>{{ hotel?.name }}</td>
                    <td>{{ hotel?.amountOfRooms }}</td>
                    <td>{{ hotel?.roomCapacity }}</td>
                    <td>{{ hotel?.phone }}</td>
                    <td>{{ hotel?.website }}</td>
                    <td>{{ hotel?.stars }}</td>
                    <td class="d-flex ml-3">
                      <span class="badge badge-success" *ngIf="hotel?.isActive">Activo</span>
                      <span class="badge badge-danger" *ngIf="!hotel?.isActive">Inactivo</span>
                      <input type="checkbox"
                        class="form-check-input align-self-start"
                        id="estatus-checkbox"
                        [checked]="hotel?.isActive"
                        (click)="openModalActions($event, hotel, type)"
                        title = "Desactivar/Activar {{type}}">
                    </td>
                    <td>
                    <button
                      class="btn btn-outline-danger"
                      (click)="openModalActions($event, hotel, type, true)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Eliminar {{type}}"
                    ><i class="fa fa-trash"></i>
                    </button>&nbsp;&nbsp;
                    <button
                      class="btn btn-outline-info"
                      (click)="goToEditHotel(hotel)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Editar {{type}}">
                      <i class="fa fa-edit"></i>
                    </button>
                    </td>
                  </tr>
                </tbody>
              </ng-template>
              <ng-template #restaurantesElseBlock>
                <tbody *ngIf="type === 'restaurantes'; else cruiserRoutesElseBlock">
                  <tr *ngFor="let restaurante of filterDatabyPage">
                    <td>{{ restaurante?.name }}</td>
                    <td>{{ restaurante?.capacity }}</td>
                    <td>{{ restaurante?.qualify }}</td>
                    <td>{{ restaurante?.specialty }}</td>
                    <td>{{ restaurante?.price }} $</td>
                    <td>{{ restaurante?.phone }}</td>
                    <td>{{ restaurante?.address }}</td>
                    <td class="d-flex ml-3">
                      <span class="badge badge-success" *ngIf="restaurante?.isActive">Activo</span>
                      <span class="badge badge-danger" *ngIf="!restaurante?.isActive">Inactivo</span>
                      <input type="checkbox"
                        class="form-check-input align-self-start"
                        id="estatus-checkbox"
                        [checked]="restaurante?.isActive"
                        (click)="openModalActions($event, restaurante, 'restaurante')"
                      >
                    </td>
                    <td>
                      <button
                        class="btn btn-outline-danger"
                        style="cursor: pointer;"
                        (click)="openModalActions($event, restaurante, 'restaurante', true)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Eliminar {{type}}"
                      >
                        <i class="fa fa-trash"></i>
                      </button>&nbsp;&nbsp;
                      <button
                        class="btn btn-outline-info"
                        style="cursor: pointer; width: 39px;"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Editar {{type}}"
                        (click)="goToEditRestaurant(restaurante)"
                      >
                        <i class="fa fa-edit"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </ng-template>
              <!--Tabla de rutas de un crucero-->
              <ng-template #cruiserRoutesElseBlock>
                <tbody *ngIf="type === 'rutas'">
                  <tr *ngFor="let ruta of filterDatabyPage; let i = index">
                    <td>{{ ruta?.departureDate.split(' ')[0] }}</td>
                    <td>{{ ruta?.arrivalDate.split(' ')[0] }}</td>
                    <td>{{ ruta?.price }} $</td>
                    <td>{{ ruta?.depCountry }} | {{ ruta?.depCity }} </td>
                    <td>{{ ruta?.arrivalCountry }} | {{ ruta?.arrivalCity }}</td>
                    <td>
                      <button
                        class="btn btn-outline-danger"
                        (click)="openModalActions($event, ruta, 'ruta', true)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Eliminar ruta"
                        [disabled]="((i > 0) && (i < tableData.length))"
                      >
                        <i class="fa fa-trash"></i>
                      </button>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </ng-template>
          </table>
      </div>
  </div>

  <div class="pagination-b">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li [ngClass]="verifyButtons['previous'] ? 'page-item disabled': 'page-item' ">
          <span class="page-link" (click)="changePage(actualPage - 1)" tabindex="-1">Previous</span>
        </li>
        <li *ngFor="let page of arregloPaginas" class="page-item"><a class="page-link" (click)="changePage(page)">{{page}}</a></li>
        <li [ngClass]="verifyButtons['next'] ? 'page-item disabled': 'page-item' ">
          <span class="page-link"  (click)="changePage(actualPage + 1)">Next</span>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="d-flex justify-content-end w-100">
    <div class="kreep" style="bottom: 14px; right: 14px; position: fixed;" *ngIf="type !== 'rutas'">
      <button (click)="gotoAdd(type)" type="button" class="btn btn-success"  data-toggle="tooltip" data-placement="top" title="Agregar {{type}}">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <button class="btn btn-danger btn-xl" (click)="goToCruiserTable()" *ngIf="type === 'rutas'" style="width: 15%">Volver a cruceros</button>
  </div>
</div>
