<div class="col-lg-12">
  <div class="card mb-3">
      <div class="card-header" [innerHtml]="headerTitle"></div>
      <div class="card-body table-responsive">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th *ngFor="let header of tableHeaders">{{ header }}</th>
                    <th>Acciones</th>
                    <th>Activar / Desactivar </th>
                </tr>
              </thead>
              <tbody *ngIf="type === 'cruceros'; else hotelesElseBlock">
                <tr *ngFor="let boat of tableData">
                  <td>{{ boat?.id }}</td>
                  <td>{{ boat?.name }}</td>
                  <td>{{ boat?.passangers_capacity }}</td>
                  <td>{{ boat?.overload_capacity }} Kg.</td>
                  <td>{{ boat?.model }}</td>
                  <td>{{ boat?.line }}</td>
                  <td>
                    <span class="badge badge-success" *ngIf="boat?.status === 'Active'"> {{ boat?.status }}</span>
                    <span class="badge badge-danger" *ngIf="boat?.status === 'Inactive'">{{ boat?.status }}</span>
                  </td>
                  <td>
                    <button class="btn btn-outline-danger"style="cursor: pointer;" (click)="openModalActions($event, boat, 'crucero', true)" data-toggle="tooltip" data-placement="top" title="Eliminar {{type}}">
                      <i class="fa fa-trash"></i>
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-outline-info" style="cursor: pointer; width: 39px;" data-toggle="tooltip" data-placement="top" title="Editar {{type}}">
                      <i class="fa fa-edit"></i>
                    </button>
                  </td>
                  <td class="d-flex ml-5">
                    <input type="checkbox" 
                      class="form-check-input align-self-start" 
                      id="estatus-checkbox" 
                      [checked]="boat?.active" 
                      (click)="openModalActions($event, boat, 'crucero')"
                    >
                    <span *ngIf="boat?.status === 'Inactive'" class="align-self-start">Activar</span>
                    <span *ngIf="boat?.status === 'Active'" class="align-self-start">Desactivar</span>
                  </td>
                </tr>
              </tbody>
              <ng-template #hotelesElseBlock>
                <tbody *ngIf="type === 'hoteles'; else otroElseBlock">
                  <tr *ngFor="let hotel of tableData">
                    <td>{{ hotel?.id }}</td>
                    <td>{{ hotel?.name }}</td>
                    <td>{{ hotel?.capacity }}</td>
                    <td>{{ hotel?.phone_number }}</td>
                    <td>{{ hotel?.web_site }}</td>
                    <td>
                      <span class="badge badge-success" *ngIf="hotel?.status === 'Active'"> {{ hotel?.status }}</span>
                      <span class="badge badge-danger" *ngIf="hotel?.status === 'Inactive'">{{ hotel?.status }}</span>
                    </td>
                    <td>
                      <app-action-alerter
                      (actionAlertEventEmitter)="messageAlert($event)"
                      [configuration]="deleteAlertConfiguration"
                      [action]="'delete'">
                      </app-action-alerter>
                    </td>
                  </tr>
                </tbody>
              </ng-template>
              <ng-template #otroElseBlock>
                Aqui iría otro tipo de tabla
              </ng-template>
          </table>
      </div>
  </div>
  <div class="d-flex justify-content-end align-items-end w-100 h-100">
    <div class="order">
      <button type="button" class="btn btn-primary btn-circle btn-xl" data-toggle="tooltip" data-placement="top" title="Agregar {{type}}">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
