/* Clase para el boton circular en Extra Large*/
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
/* Clase para el boton circular en Extra Large */

/* Clase para colocar el boton circular */
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
/* Clase para colocar el boton circular */

/* .order {
    line-height: 75px;
    text-align:center;
    opacity: 1;
    color:#fff;
    border-radius:50%;
    -webkit-animation: bounce .3s infinite alternate;
    -moz-animation: bounce .3s infinite alternate;
    animation: bounce .3s infinite alternate;
  }
  @-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.2); }
  }
  @-moz-keyframes bounce {
    to { -moz-transform: scale(1.2); }
  }
  @keyframes bounce {
    to { transform: scale(1.2); }
  } */

  /***** Bounce the button in Y ******/
  @keyframes kreep {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
  50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
  70% { -webkit-transform: scale(1);
        transform: scale(1);}
  }

  .kreep {
    animation: kreep 0.7s ease 2s infinite alternate;
  }
  /***** Bounce the button in Y ******/
  button{
      cursor: pointer;
      width: 39px;
  }
