@import "../../../node_modules/angular-notifier/styles/core.css";
@import '~angular-notifier/styles';

.main-container {
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}