.color-card{
	background-color: rgba(88, 80, 80, 0.09);
}

#li-admin{
	padding: 1.25rem; margin-right:5px
}

#li-client{
	padding: 1.25rem; margin-left:5px
}

#imagen-error{
	width: 200px; 
	height:200px; 
	margin-left:40%
}

.oculto{
	display:none;
}

.button-delete{
	margin-left:5px
}

.mensaje{
	float: right; width: 65%
}

#bloque-busqueda{
	margin-left: 4%; height:260px
}

#bloque-busqueda-2{
	width: 48%; float: left
}

.carta-intro{
	text-align: justify
}

.ver{
	margin-left: 15px
}

#documento{
	width: 50%
}

#serial{
	width: 50%; display:none
}

.button-search{
	margin-right:40%
}

.glyphicon{
	position:relative;
	top:1px;
	display:inline-block;
	font-family:'Arial Black';
    font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale}
    
.glyphicon-minus:before{content:"\2212"}
.glyphicon-minus-sign:before{content:"\e082"}
.glyphicon-plus:before{content:"\2b"}
.glyphicon-plus-sign:before{content:"\e081"}

.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
}  

.contenedor-usuario {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}

.contenedor-usuario i {
	font-size: 150px;
}

.contenedor-usuario li{
	display:inline-block;
	color: #5ec3c0;
	text-decoration: none;
	transition: ease 0.3s;
}

.contenedor-usuario li:hover {
	color: #272424;
	transition: ease 0.3s;
}

@media screen and (max-width: 600px) {
	.contenedor-usuario {
		width: 51%;
	}
}

.contenedor-tipo-usuario {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

