<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Edit Claim</h4>
        
        <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
          <div class="col text-center">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Title" [(ngModel)]="titlePut">
            </div>  
            <div class="form-group">
              <textarea type="text" class="form-control input-lg" placeholder="Descriptión..." [(ngModel)]="descrPut" rows="3">
              </textarea>
            </div>
            <div class="form-group">
            <input id="check_cambiar" 
                   type="checkbox" 
                   value="checkedValue"> Change (Close/Open) status of this claim.
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success" (click)="putClaim(idPut)" type="submit">Update Claim</button>
              </div>
            </div>
          </div>
    </div>
</ng-template>

<!-- Primer box: Estan las dos opciones para elegir pantalla client y admin -->

<div class="col-md-12 contenedor-tipo-usuario">
  <div id="li-admin" class="contenedor-usuario card">
    <li (click) = "pantallaAdmin()"> Admin <br>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i></li>
  </div>

  <div id="li-cliente" class="contenedor-usuario card">
    <li (click)="pantallaCliente()"> Client <br>
    <i class="fa fa-user-plus" aria-hidden="true"></i></li>
  </div> 
</div>

<!-- INTRODUCTION -->

<div id = "paginaCliente" class="oculto">

<div class="row">
<div class="col-md-12">
  <div class="card mb-3">
      <div class="card-header color-card">
        <span class="fa fa-minus" aria-hidden="true"></span>
         Instructions
      </div>
      <div class="card-body table-responsive carta-intro">
        <p>
          In this module will help you to get any baggage that has been lost and 
          registered on a flight or cruise, you should simply look for it by placing 
          the serial number or passport in the blocks with the logo <i class="fa fa-search"></i>
        </p>
      </div>
  </div>
</div>
</div>

<div class = "col" id="bloque-busqueda">
<div class="row" id="bloque-busqueda-2">
    <div class="col-md-12">
      <div class="card mb-3">
          <div class="card-header color-card">
              <i class="fa fa-search"></i>
              Select the type of luggage search
          </div>
          <div class="card-body table-responsive carta-intro">
            <p> Get list of luggage for:</p>
            <label>
                <input id="check_documento" type="checkbox" 
                value="checkedValue" (change)="checkeadoDocumento($event)" checked="checked"> Document 
            </label>
            <br>
            <label>
              <input id="check_serial" value="checkedValue" type="checkbox"
              (change)="checkeadoSerial($event)"> Equipment Serial
            </label>       
          </div>
      </div>
    </div>
  </div>

  <div id = "documento" class="row">
      <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive carta-intro">
              <form [formGroup]="formSearch" (ngSubmit)="listadoEquipaje()">
                <div class="col-lg-12 text-center">
                      <div class="form-group">
                        <input formControlName="id" type="text" class="form-control" 
                        placeholder="Passport Number">
                      </div>
                       <button class="btn btn-success" *ngIf="formSearch.invalid" type="submit" disabled>
                          Search</button>
                       <button class="btn btn-success" *ngIf="!formSearch.invalid" type="submit">
                          Search</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
   
    <div id = "serial" class="row">
      <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive carta-intro">
              <form [formGroup]="formSearch" (ngSubmit)="listadoEquipaje()">
                <div class="col-lg-12 text-center">
                      <div class="form-group">
                          <input formControlName="id" type="text" class="form-control" 
                          placeholder="Serial Number">
                      </div>
                      <button class="btn btn-success" *ngIf="formSearch.invalid" type="submit" disabled>
                          Search</button>
                      <button class="btn btn-success" *ngIf="!formSearch.invalid" type="submit">
                          Search</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>

    <div id = "equipajeLista" class="row oculto">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header color-card">
                <i class="fa fa-list"></i>
                List of user equipment
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Serial</th>
                        <th>Descriptión</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let baggage of baggages; let indice=index">
                        <th scope="row">{{indice+1}}</th>
                        <td>{{baggage._id}}</td>
                        <td>{{baggage._description}}</td>
                        <td>{{baggage._status}}</td>
                        <a href ="/grupo-nueve"><td>See</td></a>
                    </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

<div class="row">
  <div class="col-md-12">
      <div class="card mb-3">
          <div class="card-header color-card">
              <i class="fa fa-plus"></i>
             Create Claim
          </div>     
          <div class="card-body table-responsive">
            <form novalidate [formGroup]="formGroup" (ngSubmit)="postClaim()">       
              <div class="col text-center">
                <div class="form-group">                 
                  <input type="text" formControlName="serial" class="form-control input-lg" placeholder="Serial of luggage" 
                  [ngClass]="{
                    'is-invalid': false,
                    'is-valid': !formGroup.get('serial').hasError('required')
                  }"/> 
                </div>

                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Title" 
                  formControlName="titulo" 
                  [ngClass]="{
                    'is-invalid': false,
                    'is-valid': !formGroup.get('titulo').hasError('required')
                  }">
                </div>  
                <div class="form-group">
                  <textarea type="text" class="form-control input-lg" placeholder="Descriptión..." 
                  formControlName="descripcion"
                  [ngClass]="{
                    'is-invalid': false,
                    'is-valid': !formGroup.get('descripcion').hasError('required')
                  }" rows="3"></textarea>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-success" *ngIf="formGroup.invalid" type="submit" disabled>
                                  Create Claim</button>
                    <button class="btn btn-success" *ngIf="!formGroup.invalid" type="submit">
                                  Create Claim</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>

  <div class="col-lg-12">
      <div class="card mb-3">
          <div class="card-header color-card">
              <i class="fa fa-list"></i>
              List of Claims of Users
          </div>
          <div class="card-body table-responsive">
              <table class="table">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>Serial</th>
                      <th>Title</th>
                      <th>Descriptión</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                      
                  <tr *ngFor="let claim of claims; let indice=index">
                      <th scope="row">{{indice+1}}</th>
                      <td >{{claim.id}}</td>
                      <td>{{claim._title }}</td>
                      <td>{{claim._description}}</td>
                      <td>{{claim._status}}</td>
                      <td>
                        <button (click)="open(content, 
                        claim.id, claim._title, claim._description)"><i class="fa fa-edit"></i></button>
                        <swal
                          #deleteSwal
                          title="¿Do you already want delete this Claim?"
                          type="question"
                          [showCancelButton]="true"
                          [focusCancel]="true"
                          (confirm)="deleteClaim(claim.id)" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                        </swal>
                        <button class="button-delete" [swal]="deleteSwal"><i class="fa fa-trash" ></i></button>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  <div class="col-md-12">
      <div class="card mb-3">
          <div class="card-header color-card">
              <i class="fa fa-envelope"></i>
              Write us!
          </div>
          
          <div class="card-body table-responsive">
            <form action="">
              <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                    <swal
                    #mensaje
                    title="Message sent at Administrator of Claim"
                    type="success"
                    showConfirmButton=false
                    timer=2500>
                   </swal>
                   <button class="btn btn-success float-left" [swal]="mensaje">Send</button>
                </div>

                <div class="form-group" class="mensaje">
                    <textarea placeholder="Message..." class="form-control" rows="5"></textarea>
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>

</div>


<div id = "paginaAdmin" class="oculto">
<div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
          <div class="card-header color-card">
              <i class="fa fa-search"></i>
               Select the type of luggage search
          </div>
          <div class="card-body table-responsive carta-intro">
            <p> Get list of luggages:</p>
            <label>
              <input id = "check_extraviado" type="checkbox" 
                value="checkedValue" (change)="checkeadoExtraviado($event)"> Lost 
            </label>
            <br>
            <label>
              <input id = "check_encontrado" value="checkedValue" 
              type="checkbox" (change)="checkeadoEncontrado($event)"> Found
            </label>
            <br>
            <label>
              <input id = "check_entregado" value="checkedValue" 
              type="checkbox" (change)="checkeadoEntregado($event)"> Delivered
            </label>

            <div class="row">
                <div class="col-md-12">
                <button class="btn btn-success float-right button-search" (click)="BusqEquipajeAdmin()" >
                  Search
                </button>
                </div>
            </div>
            
          </div>
      </div>
    </div>
  </div>

  <div id = "encontrados" class="row oculto">
      <div class="col-lg-12">
          <div class="card mb-3">
              <div class="card-header color-card">
                  <i class="fa fa-list"></i>
                  List of luggages founds
              </div>
              <div class="card-body table-responsive">
                  <table class="table">
                      <thead>
                      <tr>
                          <th>#</th>
                          <th>Serial</th>
                          <th>Description</th>
                          <th>Status</th>
                          <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let BaggageAdmin of BaggageEncontrados; let indiceEncontrado=index">
                          <th scope="row">{{indiceEncontrado+1}}</th>
                          <td>{{BaggageAdmin._id}}</td>
                          <td>{{BaggageAdmin._description}}</td>
                          <td>{{BaggageAdmin._status}}</td>
                          <td>
                            <button class= "ver"><i class="fa fa-edit"></i></button>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>

      <div id = "extraviados" class="row oculto">
          <div class="col-lg-12">
              <div class="card mb-3">
                  <div class="card-header color-card">
                      <i class="fa fa-list"></i>
                      List of luggage lost
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table">
                          <thead>
                           <tr>
                              <th>#</th>
                              <th>Serial</th>
                              <th>Description</th>
                              <th>Status</th>
                              <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let BaggageAdmin of BaggageExtraviados; let indiceExtraviado=index">
                              <th scope="row">{{indiceExtraviado+1}}</th>
                              <td>{{BaggageAdmin._id}}</td>
                              <td>{{BaggageAdmin._description}}</td>
                              <td>{{BaggageAdmin._status}}</td>
                              <td>
                                <button class="ver"><i class="fa fa-edit"></i></button>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          </div>

          <div id = "entregados"  class="row oculto">
              <div class="col-lg-12">
                  <div class="card mb-3">
                      <div class="card-header color-card">
                          <i class="fa fa-list"></i>
                          List of luggage delivered
                      </div>
                      <div class="card-body table-responsive">
                          <table class="table">
                              <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Serial</th>
                                  <th>Description</th>
                                  <th>Status</th>
                                  <th>Actions</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let BaggageAdmin of BaggageEntregados; let indiceEntregado=index">
                                  <th scope="row">{{indiceEntregado+1}}</th>
                                  <td>{{BaggageAdmin._id}}</td>
                                  <td>{{BaggageAdmin._description}}</td>
                                  <td>{{BaggageAdmin._status}}</td>
                                  <td>
                                    <button class="ver"><i class="fa fa-edit"></i></button>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
                        <div class="card-header color-card">
                        <i class="fa fa-search"></i>
                        Select the type of claims search
                        </div>
                        <div class="card-body table-responsive carta-intro">
                          <p> Get list of Claims for case:</p>
                          <label>
                              <input id="check_abierto" type="checkbox" 
                              (change)="checkeadoAbierto($event)" value="checkedValue"> Open 
                          </label>
                          <br>
                          <label>
                            <input id="check_cerrado"
                            (change)="checkeadoCerrado($event)" value="checkedValue" type="checkbox"> Close
                          </label>
              
                          <div class="row">
                              <div class="col-md-12">
                              <button class="btn btn-success float-right button-search" (click)="BusqEquipajeClaim()">Search</button>
                              </div>
                          </div>
                        </div>
            </div>
          </div>
        </div>

        <div id = "abiertos" class="oculto">
            <div class="card mb-3">
                <div class="card-header color-card">
                    <i class="fa fa-list"></i>
                    List of Open Claims
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Serial</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let claimAdmin of claimsAbiertos; let indiceAbierto=index">
                            
                            <th scope="row">{{indiceAbierto+1}}</th>
                            <td>{{claimAdmin.id}}</td>
                            <td>{{claimAdmin._title }}</td>
                            <td>{{claimAdmin._description}}</td>
                            <td>{{claimAdmin._status}}</td>
                            <td>
                              <button (click)="open(content, 
                              claimAdmin.id, claimAdmin._title, claimAdmin._description)"><i class="fa fa-edit"></i></button>
                              <swal
                                #deleteSwal1
                                title="¿Do you already want delete Claim?"
                                type="question"
                                [showCancelButton]="true"
                                [focusCancel]="true"
                                (confirm)="deleteClaim(claimAdmin.id)" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                              </swal>
                              <button [swal]="deleteSwal1" class="button-delete"><i class="fa fa-trash" ></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id = "cerrados" class="oculto">
            <div class="card mb-3">
                <div class="card-header color-card">
                    <i class="fa fa-list"></i>
                    List of Open Claims
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Serial</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let claimAdmin of claimsCerrados; let indiceCerrado=index">
                            
                            <th scope="row">{{indiceCerrado+1}}</th>
                            <td>{{claimAdmin.id}}</td>
                            <td>{{claimAdmin._title }}</td>
                            <td>{{claimAdmin._description}}</td>
                            <td>{{claimAdmin._status}}</td>
                            <td>
                              <button (click)="open(content, 
                              claimAdmin.id, claimAdmin._title, claimAdmin._description)"><i class="fa fa-edit"></i>
                              </button>
                              <swal
                                #deleteSwal2
                                title="¿Do you already want delete Claim?"
                                type="question"
                                [showCancelButton]="true"
                                [focusCancel]="true"
                                (confirm)="deleteClaim(claimAdmin.id)" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                              </swal>
                              <button class="button-delete" [swal]="deleteSwal2"><i class="fa fa-trash" ></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

            <div class="card mb-3">
                <div class="card-header color-card">
                    <i class="fa fa-envelope"></i>
                    Write to user
                </div>
                
                <div class="card-body table-responsive">
                  <form action="">
                    <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Passport">
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Name">
                          </div>
                          <swal
                          #mensaje
                          title="Message sent at User"
                          type="success"
                          showConfirmButton=false
                          timer=2500>
                         </swal>
                         <button class="btn btn-success float-left" [swal]="mensaje">Send</button>
                      </div>
      
                      <div class="form-group" class = "mensaje">
                          <textarea placeholder="Message..." class="form-control" rows="5"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
</div>