<!--
  Listado de Reserva de Automoviles
-->
<!--
<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">
        Reservas de automoviles
      </div>
      <div class="card-body table-responsive">
        <div class="row">
          <table class="table">
            <thead class="thead-dark">
              <tr >
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Puestos</th>
                <th scope="col">Precio por dia</th>
                <th scope="col">Fecha de Alquiler</th>
                <th scope="col">Fecha de Devolucion</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carreservation of carreservations">
                <td>{{carreservation.automobile._make}}</td>
                <td>{{carreservation.automobile._model}}</td>
                <td>{{carreservation.automobile._capacity}}</td>
                <td>{{carreservation.automobile._price}}$</td>
                <td>{{carreservation.checkIn}}</td>
                <td>{{carreservation.checkOut}}</td>
                <td>
                <swal
                #deleteSwal
                title="¿Desea eliminar la reservacion?"
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="deleteAutomobileReservation(carreservation.id)" [options]="{ confirmButtonText: 'Si, estoy
                 seguro', cancelButtonText: 'Cancelar' }">
                 </swal>
                <button [swal]="deleteSwal" class="btn btn-outline-danger">
                  <i class="fa fa-trash"></i>
                </button>&nbsp;&nbsp;
                <button
                  class="btn btn-outline-info"
                  style="cursor: pointer; width: 39px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar {{type}}"
                  
                >
                  <i class="fa fa-edit"></i>
                </button>&nbsp;&nbsp;
                <button
                  class="btn btn-outline-info"
                  style="cursor: pointer; width: 39px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar {{type}}"
                  
                >
                  <i class="fa fa-credit-card"></i>
                </button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reserva de habitación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="myForm">
    <div class="row">
      <div class="col-md-3">
        <p><strong>Hotel: </strong></p>
        <p>{{roomreservation?.hotel?.name}}</p>
      </div>
      <div class="col-md-3">
        <p><strong>Estrellas: </strong></p>
        <p>{{roomreservation?.hotel?.stars}}</p>
      </div>
      <div class="col-md-3">
        <p><strong>Capacidad Habitacion: </strong></p>
        <p>{{roomreservation?.hotel?.roomCapacity}}</p>
      </div>
      <div class="col-md-3">
        <p><strong>Precio por noche: </strong></p>
        <p>{{roomreservation?.hotel?.pricePerRoom}}$</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p><strong>Ciudad: </strong></p>
        <p>{{roomreservation?.hotel?.location?.city}}</p>
      </div>
      <div class="col-md-3">
        <p><strong>CheckIn: </strong></p>
        <p>{{roomreservation?.checkIn}}</p>
        
        
        
      </div>
      <div class="col-md-3">
        <p><strong>CheckOut:</strong></p>
        <p>{{roomreservation?.checkOut}}</p>
        
      </div>
      
      <div class="col-md-3">
        <p><strong>Precio total: </strong></p>
        <p>lorem ipsum</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          
          </div>
      <div class="col-md-3">
        <input type="date" class="form-control" formControlName="fechaOne" id="datefieldAlq">
      </div>
      <div class="col-md-3">
          <input type="date" class="form-control" formControlName="fechaTwo" id="datefieldDev">
        </div>
    </div>
  </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>

<!--
  Listado de Reserva de Habitaciones
-->

<div class="row">
  <div class="col-md-12">
<div class="card mb-3">
  <div class="card-header">
    Reservas de habitaciones
  </div>
  <div class="card-body table-responsive">
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Hotel</th>
            <th scope="col">Estrellas</th>
            <th scope="col">Capacidad Habitacion</th>
            <th scope="col">Precio por noche</th>
            <th scope="col">Cantidad Disponible</th>
            <th scope="col">CheckIn</th>
            <th scope="col">CheckOut</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roomreservation of roomreservations">
            <td>{{roomreservation.hotel.name}}</td>
            <td align="center">{{roomreservation.hotel.stars}}<i class="fa fa-star" aria-hidden="true"></i>
            </td>
            <td align="center">{{roomreservation.hotel.roomCapacity}}</td>
            <td>{{roomreservation.hotel.pricePerRoom}}$</td>
            <td>{{roomreservation.hotel.phone}}</td>
            <td>{{roomreservation.checkIn}}</td>
            <td>{{roomreservation.checkOut}}</td>
            <td>
              <swal
                #deleteSwal
                title="¿Desea eliminar la reservacion?"
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="deleteRoomReservation(roomreservation.id)" [options]="{ confirmButtonText: 'Si, estoy
                 seguro', cancelButtonText: 'Cancelar' }">
                 </swal>
                <button [swal]="deleteSwal" class="btn btn-outline-danger">
                  <i class="fa fa-trash"></i>
                </button>&nbsp;&nbsp;
                <button
                  class="btn btn-outline-info"
                  style="cursor: pointer; width: 39px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar {{type}}"
                  (click)="open(content,roomreservation.id)"
                >
                  <i class="fa fa-edit"></i>
                </button>&nbsp;&nbsp;
                <button
                  class="btn btn-outline-info"
                  style="cursor: pointer; width: 39px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar {{type}}"
                  (click)="EditRestaurantModal()"
                >
                  <i class="fa fa-credit-card"></i>
                </button>
              
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>