<div class="row">
  <div class="col-md-12">

<!--
  Listado de Reserva de Automoviles
-->
<!--
    <div class="card mb-3">
      <div class="card-header">
        Reservas de automoviles
      </div>
      <div class="card-body table-responsive">
        <div class="row">
          <table class="table">
            <thead class="thead-dark">
              <tr >
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Capacidad de Pasajeros</th>
                <th scope="col">Precio por dia</th>
                <th scope="col">Fecha de Alquiler</th>
                <th scope="col">Fecha de Devolucion</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carreservation of carreservations">
                <td>{{carreservation.automobile._make}}</td>
                <td>{{carreservation.automobile._model}}</td>
                <td>{{carreservation.automobile._capacity}}</td>
                <td>{{carreservation.automobile._price}}$</td>
                <td>{{carreservation.checkIn}}</td>
                <td>{{carreservation.checkOut}}</td>
                <td>
                  <button
                  class="btn btn-outline-danger"
                  style="cursor: pointer;"
                  (click)="openModalActions($event, restaurante, 'automovil', true)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Eliminar {{type}}"
                >
                  <i class="fa fa-trash"></i>
                </button>&nbsp;&nbsp;
                <button
                  class="btn btn-outline-info"
                  style="cursor: pointer; width: 39px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar {{type}}"
                  (click)="EditRestaurantModal()"
                >
                  <i class="fa fa-edit"></i>
                </button>&nbsp;&nbsp;
                <button
                  class="btn btn-outline-info"
                  style="cursor: pointer; width: 39px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar {{type}}"
                  (click)="EditRestaurantModal()"
                >
                  <i class="fa fa-credit-card"></i>
                </button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<!--
  Listado de Reserva de Habitaciones
-->
<div class="row">
  <div class="col-md-12">
<div class="card mb-3">
  <div class="card-header">
    Reservas de habitaciones
  </div>
  <div class="card-body table-responsive">
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Hotel</th>
            <th scope="col">Estrellas</th>
            <th scope="col">Capacidad Habitacion</th>
            <th scope="col">Precio por noche</th>
            <th scope="col">Cantidad Disponible</th>
            <th scope="col">CheckIn</th>
            <th scope="col">CheckOut</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roomreservation of roomreservations">
            <td>{{roomreservation.hotel.name}}</td>
            <td>{{roomreservation.hotel.stars}}<i class="fa fa-star" aria-hidden="true"></i>
            </td>
            <td>{{roomreservation.hotel.roomCapacity}}</td>
            <td>{{roomreservation.hotel.pricePerRoom}}$</td>
            <td>{{roomreservation.hotel.phone}}</td>
            <td>{{roomreservation.checkIn}}</td>
            <td>{{roomreservation.checkOut}}</td>
            <td>
              <button
                  class="btn btn-outline-danger"
                  style="cursor: pointer;"
                  (click)="openModalActions($event, restaurante, 'habitacion', true)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Eliminar {{type}}"
                >
                  <i class="fa fa-trash"></i>
                </button>&nbsp;&nbsp;
                <button
                  class="btn btn-outline-info"
                  style="cursor: pointer; width: 39px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar {{type}}"
                  (click)="EditRestaurantModal()"
                >
                  <i class="fa fa-edit"></i>
                </button>&nbsp;&nbsp;
                <button
                  class="btn btn-outline-info"
                  style="cursor: pointer; width: 39px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar {{type}}"
                  (click)="EditRestaurantModal()"
                >
                  <i class="fa fa-credit-card"></i>
                </button>
              
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
