<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear un nuevo vehículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="vehicleForm">
      <div class="row">
        <div class="form-group col">
          <form [formGroup]="perolForm">
            <select name="country" placeholder="Pais" class="form-control" id="country"
              (change)="getCities($event.target.value)">
              <option value="" hidden> País </option>
              <option *ngFor="let country of countries" [value]="country.id">
                <p>
                  {{country?.country}}
                </p>
              </option>
            </select>
          </form>
        </div>
        <div class="form-group col" *ngIf="selectedCountry">
          <select name="city" placeholder="Ciudad" class="form-control" id="city" formControlName="vehicleLocationId">
            <option value="" hidden> Ciudad </option>
            <option *ngFor="let city of cities" [value]="city.id">
              <p>
                {{city?.city}}
              </p>
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <form [formGroup]="perolForm">
            <select name="brand" placeholder="Marca" class="form-control" id="brand" formControlName="brandId"
              (change)="getModels($event.target.value)">
              <option value="" hidden> Marca </option>
              <option *ngFor="let brand of brands" [value]="brand.id">
                <p>
                  {{brand?.brandName}}
                </p>
              </option>
            </select>
          </form>
        </div>
        <div class="form-group col">
          <select name="model" placeholder="Modelo" class="form-control" id="model" formControlName="vehicleModelId">
            <option value="" hidden> Modelo </option>
            <option *ngFor="let model of models" [value]="model.id">
              <p>
                {{model?.modelName}}
              </p>
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <input type="text" class="form-control" placeholder="Matrícula" formControlName="license" maxlength="10">
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <input type="number" class="form-control" placeholder="Precio" formControlName="price" min="1">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="!vehicleForm.valid" class="btn btn-success"
      (click)="modifyVehicle()">Modificar</button>
  </div>
</ng-template>

<button class="btn btn-sm btn-outline-info" title="Editar vehiculo" (click)="open(content)">
  <i class=" fa fa-xs fa-edit"></i>
</button>