<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear un nuevo vehículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="vehicleForm">
      <div class="row">
        <div class="form-group col">
          <select name="country" placeholder="Pais" class="form-control" id="country" (change)="getCities($event.target.value)">
            <option value="" hidden> País </option>
            <option *ngFor="let country of countries" [value]="country.id">
              <p>
                {{country?.country}}
              </p>
            </option>
          </select>
        </div>
        <div class="form-group col" *ngIf="selectedCountry">
          <select name="city" placeholder="Ciudad" class="form-control" id="city" formControlName="vehicleLocationId">
            <option value="" hidden> Ciudad </option>
            <option *ngFor="let city of cities" [value]="city.id">
              <p>
                {{city?.city}}
              </p>
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <select name="brand" placeholder="Marca" class="form-control" id="brand" (change)="getModels($event.target.value)">
            <option value="" hidden> Marca </option>
            <option *ngFor="let brand of brands" [value]="brand.id">
              <p>
                {{brand?.brandName}}
              </p>
            </option>
          </select>
        </div>
        <div class="form-group col" *ngIf="selectedBrand">
          <select name="model" placeholder="Modelo" class="form-control" id="model" formControlName="vehicleModelId">
            <option value="" hidden> Modelo </option>
            <option *ngFor="let model of models" [value]="model.id">
              <p>
                {{model?.modelName}}
              </p>
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <input type="text" class="form-control" placeholder="Matrícula" formControlName="license" maxlength="10">
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <input type="number" class="form-control" placeholder="Precio" formControlName="price" min="1">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="!vehicleForm.valid" class="btn btn-success"
      (click)="createVehicle()">Crear</button>
  </div>
</ng-template>

<div class="d-flex justify-content-end align-items-end w-100" style="height: 295px;">
  <div class="kreep">
    <button (click)="open(content)" type="button" class="btn btn-info btn-circle btn-xl" data-toggle="tooltip"
      data-placement="top" title="Crear un viaje">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>