<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
      <a routerLink="/" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-dashboard"></i>&nbsp;
          <span>Dashboard</span>
      </a>
      <a routerLink="/grupo-uno" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-dashboard"></i>&nbsp;
        <span>Grupo Uno</span>
      </a>
      <div class="nested-menu">
          <a class="list-group-item" (click)="addExpandClass('pages')">
              <i class="fa fa-plus"></i>&nbsp;
              <span>Grupo 3</span>
          </a>
          <li class="nested" [class.expand]="showMenu === 'pages'">
              <ul class="submenu">
                  <li>
                      <a routerLink="/grupo-tres/creacion" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <span>Creación de vuelos</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/grupo-tres/listado" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <span>Listado de vuelos</span>
                      </a>
                  </li>
              </ul>
          </li>
      </div>
  </div>
</nav>
