<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
    <a routerLink="/" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>Dashboard</span>
    </a>
    <a routerLink="/grupo-uno" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>Grupo Uno</span>
    </a>
    <a routerLink="/register-user" class="list-group-item">
      <i class="fa fa-fw fa-user"></i>&nbsp;
      <span>Registrar Usuario</span>
    </a>
    <a routerLink="/register-hotel" class="list-group-item">
      <i class="fa fa-fw fa-user"></i>&nbsp;
      <span>Registrar Hotel</span>
    </a>
    <a routerLink="/grupo-trece-habitacion" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>Reservar Habitación</span>
    </a>
    <a routerLink="/grupo-trece-automovil" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>Reservar Automóvil</span>
    </a>
  </div>
</nav>
