<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Venta de Boletos</h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cerrar')">
          <span aria-hidden="true">&times;</span>
      </button> -->
  </div>
 <!--  <div class="modal-body">
      <form action="">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Destino">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Origen">
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Apellido">
              </div>
            </div>
        </div>
      </form>
  </div> -->
  <div class="modal-footer">
   <!--    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Editar</button> -->
  </div>
</ng-template>

<div class="row">
<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-header">
            Venta de Boleto
        </div>
        <div class="card-body table-responsive">
            <form action="">
                <!-- <div class="col-sm-3"> -->
                    <div class="form-group">
                        <label class="col-sm-1" >
                            <input tabindex="2" type="checkbox" name="soloIda" class="form-control" id="soloIda" > Solo Ida
                        </label>
                        <label class="col-sm-2" >
                            <input tabindex="2" type="checkbox" name="idaYVuelta" class="form-control" id="idaYVuelta"> Ida y Vuelta
                        </label>
                        <label class="col-sm-2" >
                            <input tabindex="2" type="checkbox" name="multiplesDestinos" class="form-control" id="multiplesDestinos"> Multiples Destinos
                        </label>
                    </div>
               <!--  </div>  -->
            </form>

          <form action="">
            <div class="row">
                   
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="origen" class="labelRegistro">* Lugar de origen</label>
                        <input tabindex="5" type="text" class="form-control" id="origen" placeholder="origen"
                                formControlName="origen" name="origen" required min="0">
                    </div>
                    <div class="form-group">
                        <label for="destino" class="labelRegistro">* Lugar Destino</label>
                        <input tabindex="5" type="text" class="form-control" id="origen" placeholder="destino"
                                    formControlName="destino" name="destino" required min="0">
                    </div>
                </div>
                <!-- Segunda fila -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fechaS" >* Fecha de Salida:</label>
                        <input tabindex="2" type="date" class="form-control" id="fechaS" placeholder="Ej: 12/12/2019"
                        formControlName="fechaS" name="fechaS" required >
                    </div>
                    <div class="form-group">
                        <label for="fechaR" >* Fecha de Retorno:</label>
                        <input tabindex="2" type="date" class="form-control" id="fechaR" placeholder="Ej: 12/12/2019"
                            formControlName="fechaR" name="fechaR" required >
                    </div>
                </div>
                <!-- tercera fila -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="pasajero" class="labelRegistro">*Pasajeros</label>
                        <input tabindex="5" type="number" class="form-control" id="pasajero" placeholder="Pasajeros"
                            formControlName="pasajero" name="pasajero" required>
                    </div>
                    <button type="button" class="button botonesModal" 
							>Comprar</button>
                </div>
            </div>
          </form>
        </div>
    </div>
</div>
  <div class="col-lg-12">
      <!-- <div class="card mb-3">
          <div class="card-header">
              Listado de registros
          </div>
          <div class="card-body table-responsive">
              <table class="table">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Usuario</th>
                      <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody> -->
                <!--   <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td> -->
                        <!-- <button (click)="open(content)"><i class="fas fa-edit"></i></button>
                        <swal
                          #deleteSwal
                          title="Desea eliminar el registro?"
                          type="question"
                          [showCancelButton]="true"
                          [focusCancel]="true"
                          (confirm)="deleteFile()" [options]="{ confirmButtonText: 'Si, estoy seguro', cancelButtonText: 'Cancelar'  }">
                        </swal>
                        <button [swal]="deleteSwal"><i class="fas fa-trash-alt"></i></button> -->
          <!--             </td>
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>
                        <button (click)="open(content)"><i class="fas fa-edit"></i></button> -->
                   <!--      <button><i class="fas fa-trash-alt"></i></button>
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td> -->
                        <!-- <button (click)="open(content)"><i class="fas fa-edit"></i></button> -->
                       <!--  <button><i class="fas fa-trash-alt"></i></button>
                      </td>
                  </tr> -->
          <!--         </tbody>
              </table>
          </div>
      </div> -->
  </div> 
</div>