<div id="fondo"> 
    <div class="container-fluid" >
      <h1 class="page-header-title">Encuentra tu carro para la ocasion perfecta</h1>
      <div class="row form-group ml-3 mr-3" id="center-form">
        <div class="col ">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
            <input type="date" class="form-control" name="fechaReserva">  
          </div>
        </div>
  
        <div class="col ">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
            <input type="date" class="form-control" name="fechaReserva">  
          </div> 
        </div>
        <form [formGroup]="form"> 
        <div class="col ">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-globe" aria-hidden="true"></i></div>
              <select class="form-control"  [ngClass]="{'is-invalid': invalid('Country', form), 'is-valid': valid('Country', form)}" formControlName="Country">
                  <option *ngFor="let location of locations" [value]="location.id">{{location.country}}</option>
                </select>
            </div>
          </div>
        </form>
  
        <div class="col mx-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <select class="form-control custom-select mr-sm-2" id="cities">
                <option value="-1" selected>Ciudad</option>
                <option value="1">1 people</option>
              </select>
          </div>
        </div>
      </div>
      <button class="btn btn-success mb-3">Let's go</button>
    </div>
  </div>
  
  <!-- <app-seleccionar-restaurant></app-seleccionar-restaurant> -->