<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reserva de habitación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3">
        <p><strong>Marca: </strong></p>
        <p>lorem ipsum</p>
      </div>
      <div class="col-md-3">
        <p><strong>Modelo: </strong></p>
        <p>lorem ipsum</p>
      </div>
      <div class="col-md-3">
        <p><strong>Capacidad: </strong></p>
        <p>lorem ipsum</p>
      </div>
      <div class="col-md-3">
        <p><strong>Precio por día: </strong></p>
        <p>lorem ipsum</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p><strong>Ciudad: </strong></p>
        <p>lorem ipsum</p>
      </div>
      <div class="col-md-3">
        <p><strong>Fecha de alquiler: </strong></p>
        <p>lorem ipsum</p>
      </div>
      <div class="col-md-3">
        <p><strong>Fecha de devolución: </strong></p>
        <p>lorem ipsum</p>
      </div>
      <div class="col-md-3">
        <p><strong>Precio total: </strong></p>
        <p>lorem ipsum</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">
        Buscar habitación
      </div>
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="buscador()">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Lugar</label>
                <select class="form-control" formControlName="country">
                  <option value="1" selected>1</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Lugar</label>
                <select class="form-control" formControlName="city">
                  <option value="1" selected>1</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Fecha de alquiler</label>
                <input type="date" class="form-control" formControlName="fechaOne">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Fecha de devolución</label>
                <input type="date" class="form-control" formControlName="fechaTwo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary float-right" type="submit">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Listado de automoviles
      </div>
      <div class="card-body table-responsive">
        <div class="row">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>lorem ipsum</td>
                <td>lorem ipsum</td>
                <td>lorem ipsum</td>
                <td>lorem ipsum</td>
                <td>
                  <button class="btn btn-outline-info float-left mr-3" (click)="open(content, 0)">Ver detalle</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>