.card-body.roomcito{
    background-image: url("src/assets/images/exicutiveroom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}