<div class="container">
  <div class="row">

    <ng-container *ngIf="travels; else elseBlock">

      <!-- <Card de viaje -->
      <div class="col-auto mb-3" *ngFor="let travel of travels; let id = index">
        <div class="card text-center clickable" style="width: 18rem;">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h5 (click)="travelDetails(travel.id)">{{travel.name}}</h5>
              </div>
              <div class="col-1 mr-1">
                <modify-travel [travelId]="travel.id" [travelName]="travel.name" [travelDescription]="travel.description"></modify-travel>
              </div>
              <div class="col-1">
                <button class="btn btn-sm btn-outline-danger" title="Eliminar viaje" (click)="travelDelete(travel.id)">
                  <i class="fa fa-xs fa-trash"></i>
                </button>
              </div>
            </div>
            <hr>
            <p class="card-text" (click)="travelDetails(travel.id)">{{travel.description}}</p>
          </div>
        </div>
      </div>
      <!-- Card de viaje/> -->

    </ng-container>
    <ng-template #elseBlock>
      <h1>{{errorResponse}}</h1>
    </ng-template>


  </div>

  <create-travel (spread)="getTravels()"></create-travel>
</div>