<div class="container">
  <div class="row">
    <!-- <Card de viaje -->
    <div class="col-auto mb-3" *ngFor="let travel of travels; let id = index">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-header">
          <div class="row">
            <div class="col-10" (click)="travelCities(travel)">
              <h5>{{travel.name}}</h5>
            </div>
            <div class="col-1 mr-1">
              <modify-travel [travelId]="travel.id" [travelName]="travel.name" [travelDescription]="travel.description"
                (spread)="getTravels()"></modify-travel>
            </div>
            <!--<div class="col-1">
              <button class="btn btn-sm btn-outline-danger" title="Eliminar viaje" (click)="travelDelete(travel.id)">
                <i class="fa fa-xs fa-trash"></i>
              </button>
            </div>
            -->
          </div>
        </div>
        <div class="card-body" (click)="travelCities(travel)">
          <p class="card-text">{{travel.description}}</p>
        </div>
        <div class="card-footer text-muted" (click)="travelCities(travel)">
          {{travel.init}} hasta {{travel.end}}
        </div>
      </div>
    </div>
    <!-- Card de viaje/> -->
  </div>

  <create-travel (spread)="getTravels()"></create-travel>
</div>