<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-plus "></i>
                <label style="color: black" for=""><strong>Registrar automovil</strong></label> 
            </div>
            <div class="card-body table-responsive" style="text-align: justify">
                <p>
                  En esta seccion se escogera primero la ciudad donde operará el vehiculo, seguido de los datos
                  del mismo que se piden a continuación. por ultimo debera oprimir "Registrar automovil".
                </p>
              </div>
            <div class="card-body">
                <form [formGroup]="form" (submit)="submit()">
                    <div>
                        <div class="">
                            <div class="bordercito">
                                  <div class="row">
                                      <div class="col-md-3">
                                          <div class="form-group">
                                              <label style="color: black" for=""><strong>Ciudad</strong></label>
                                              <select class="form-control" 
                                                formControlName="ciudad"
                                                [ngClass]="{'is-invalid':form.get('ciudad').touched && !form.get('ciudad').valid, 'is-valid':form.get('ciudad').touched && form.get('ciudad').valid}">
                                                  <option *ngFor="let country  of countries let i = index;" [value]="country.id">{{country.country}}</option>
                                              </select>
                                              <div *ngIf="form.get('ciudad').touched && !form.get('ciudad').valid" class="invalid-feedback">
                                                  Seleccione la ciudad donde trabajara el automovil.
                                              </div>
                                              <div *ngIf="form.get('ciudad').touched && form.get('ciudad').valid"
                                                class="valid-feedback">
                                                  ¡Excelente!
                                              </div>
                                          </div>
                                      </div>    
                                      
                                      <div class="col-md-3">
                                          <div class="form-group">
                                              <label style="color: black" for=""><strong>Matricula</strong></label>
                                            <input class="form-control" 
                                            formControlName="matricula"
                                            [ngClass]="{'is-invalid': invalid('matricula', form), 'is-valid': valid('matricula', form)}">
                                            <div *ngIf="invalid('matricula', form)" class="invalid-feedback">
                                              Ingresar la matricula del automovil.
                                            </div>
                                            <div *ngIf="valid('matricula', form)" class="valid-feedback">
                                              ¡Excelente!
                                            </div>
                                          </div>
                                       </div>

                                      <div class="col-md-3">
                                          <div class="form-group">
                                              <label style="color: black" for=""><strong>Marca</strong></label>
                                            <input class="form-control" 
                                            formControlName="marca"
                                            [ngClass]="{'is-invalid': invalid('marca', form), 'is-valid': valid('marca', form)}">
                                            <div *ngIf="invalid('marca', form)" class="invalid-feedback">
                                              Ingrese la marca del automovil.
                                            </div>
                                            <div *ngIf="valid('marca', form)" class="valid-feedback">
                                              ¡Excelente!
                                            </div>
                                          </div>
                                      </div>

                                      <div class="col-md-3">
                                          <div class="form-group">
                                              <label style="color: black" for=""><strong>Modelo</strong></label>
                                            <input class="form-control" 
                                            formControlName="modelo"
                                            [ngClass]="{'is-invalid': invalid('modelo', form), 'is-valid': valid('modelo', form)}">
                                            <div *ngIf="invalid('modelo', form)" class="invalid-feedback">
                                              Ingrese el modelo del automovil.
                                            </div>
                                            <div *ngIf="valid('modelo', form)" class="valid-feedback">
                                              ¡Excelente!
                                            </div>
                                          </div>
                                      </div>                        
                                  </div>
                                  <div class="row">
                                      <div class="col-md-3">
                                          <div class="form-group">
                                              <label style="color: black" for=""><strong>Estatus del Automovil</strong></label>
                                              <select class="form-control" 
                                                formControlName="estatus"
                                                [ngClass]="{'is-invalid':form.get('estatus').touched && !form.get('estatus').valid, 'is-valid':form.get('estatus').touched && form.get('estatus').valid}">
                                                <option value="-1" disabled> Estatus del Automovil</option>
                                                <option value="true" > activo</option>
                                                <option value="false" > reservado</option>
                                              </select>
                                              <div *ngIf="form.get('estatus').touched && !form.get('estatus').valid" class="invalid-feedback">
                                                  Seleccione el status con el que desea registrar el automovil.
                                              </div>
                                              <div *ngIf="form.get('estatus').touched && form.get('estatus').valid"
                                                class="valid-feedback">
                                                  ¡Excelente!
                                              </div>
                                          </div>
                                      </div>    
                                      <div class="col-md-3">
                                          <div class="form-group">
                                              <label style="color: black" for=""><strong>Capacidad</strong></label>
                                            <input class="form-control"  type="number" min="0"
                                            formControlName="capacidad"
                                            [ngClass]="{'is-invalid': invalid('capacidad', form), 'is-valid': valid('capacidad', form)}">
                                            <div *ngIf="invalid('capacidad', form)" class="invalid-feedback">
                                              Ingrese la capacidad de pasajeros del automovil.
                                            </div>
                                            <div *ngIf="valid('capacidad', form)" class="valid-feedback">
                                              ¡Excelente!
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="form-group">
                                              <label style="color: black" for=""><strong>Precio ($)</strong></label>
                                            <input class="form-control"  type="number" min="0"
                                            formControlName="precio"
                                            [ngClass]="{'is-invalid': invalid('precio', form), 'is-valid': valid('precio', form)}">
                                            <div *ngIf="invalid('precio', form)" class="invalid-feedback">
                                              Ingrese el precio de reserva del automovil.
                                            </div>
                                            <div *ngIf="valid('precio', form)" class="valid-feedback">
                                              ¡Excelente!
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="form-group">
                                            <label for="">foto</label>
                                            <input class="form-control" 
                                            formControlName="foto"
                                            [ngClass]="{'is-invalid': invalid('foto', form), 'is-valid': valid('foto', form)}">
                                            <div *ngIf="invalid('foto', form)" class="invalid-feedback">
                                              Seleccione una foto del automovil.
                                            </div>
                                            <div *ngIf="valid('foto', form)" class="valid-feedback">
                                              ¡Excelente!
                                            </div>
                                          </div>
                                       </div>
                                  </div>
                                 </div>
                           </div>
                      </div>
                  </form>
                  <div class="modal-footer">
                      <swal
                      #addSwal
                      title="Automovil Registrado satisfactoriamente"
                      type="success"
                      showConfirmButton=false
                      timer=2500>
                    </swal>
                      <button type="submit" class="btn btn-outline-success" (click)="agregarcarro()" [swal]="addSwal">Registrar Automovil</button>
                  </div>
              </div>
          </div>
      </div>
 </div>
 