<div class="modal-header">
  <h4>Editar de Restaurante</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="modal-body table-responsive">
    

    <div class="row">
      <!-- Name Field -->
      <div class="col-md-12">
        <div class="form-group">
          <input
            mdbInput
            type="text"
            class="form-control"
            placeholder="Nombre Comercial"
            formControlName="nameRestaurant"
            [ngClass]="{
              'is-invalid': submitted && form['nameRestaurant'].errors,
              'is-valid': !form['nameRestaurant'].errors
            }"
          />
          <div
            *ngIf="submitted && form['nameRestaurant'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['nameRestaurant'].errors.required">
              El nombre es requerido.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Business Name Field -->
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Razon Social"
            formControlName="businessName"
            [ngClass]="{
              'is-invalid': submitted && form['businessName'].errors,
              'is-valid': !form['businessName'].errors
            }"
          />
          <div
            *ngIf="submitted && form['businessName'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['businessName'].errors.required">
              La razón social es requerida.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Description Field -->
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Descripción"
            formControlName="description"
            [ngClass]="{
              'is-invalid': submitted && form['description'].errors,
              'is-valid': !form['description'].errors
            }"
          />
          <div
            *ngIf="submitted && form['description'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['description'].errors.required">
              La descripción es requerida.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Calification Field -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <select
            class="form-control"
            formControlName="calification"
            [ngClass]="{
              'is-invalid': submitted && form['calification'].errors,
              'is-valid': !form['calification'].errors
            }"
          >
            <option value="-1" disabled>Seleccione la Calificación</option>
            <option *ngFor="let calification of califications" value="{{ calification.calification }}">{{
              calification.calification
            }}</option>
          </select>
          <div
            *ngIf="submitted && form['calification'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['calification'].errors.min">
              Se debe seleccionar una calificación.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Price Field -->
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="Precio Promedio"
            formControlName="price"
            [ngClass]="{
              'is-invalid': submitted && form['price'].errors,
              'is-valid': !form['price'].errors
            }"
          />
          <div
            *ngIf="submitted && form['price'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['price'].errors.required">
              El precio promedio es requerido.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Capacity Field -->
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="Capacidad"
            formControlName="capacity"
            [ngClass]="{
              'is-invalid': submitted && form['capacity'].errors,
              'is-valid': !form['capacity'].errors
            }"
          />
          <div
            *ngIf="submitted && form['capacity'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['capacity'].errors.required">
              La capacidad es requerida.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Phone Field -->
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="Telefono"
            formControlName="phone"
            [ngClass]="{
              'is-invalid': submitted && form['phone'].errors,
              'is-valid': !form['phone'].errors
            }"
          />
          <div
            *ngIf="submitted && form['phone'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['phone'].errors.required">
              El telefono es requerida.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Address Field -->
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Dirección"
            formControlName="address"
            [ngClass]="{
              'is-invalid': submitted && form['address'].errors,
              'is-valid': !form['address'].errors
            }"
          />
          <div
            *ngIf="submitted && form['address'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['address'].errors.required">
              La dirección es requerida.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Image Field -->
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="file"
            class="btn btn-default"
            formControlName="image"
            [ngClass]="{
              'is-invalid': submitted && form['image'].errors,
              'is-valid': !form['image'].errors
            }"
          />
          <div
            *ngIf="submitted && form['image'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['image'].errors.required">
              Subir imagenes.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Type Field -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <select
            class="form-control"
            formControlName="type"
            [ngClass]="{
              'is-invalid': submitted && form['type'].errors,
              'is-valid': !form['type'].errors
            }"
          >
            <option value="-1" disabled>Seleccione un Tipo de Comida</option>
            <option *ngFor="let type of types" value="{{ type.name }}">{{
              type.name
            }}</option>
          </select>
          <div
            *ngIf="submitted && form['type'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['type'].errors.min">
              Se debe seleccionar un tipo de comida.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <swal
          #addSwal
          title="Usuario creado de manera exitosa"
          type="success"
          showConfirmButton="false"
          timer="2500"
        >
        </swal>

        <!-- [swal]="addSwal" -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success">Editar</button>
  </div>
</form>
