<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Nombres claros
                    </div>
                    <div class="card-body">
                           <p>Escriban nombres claros en los métodos, variables o parámetros.<br> Por ejemplo: <br> <strong>getU(n:string):any[]</strong> <br> es difícil de entender. En cambio si hacemos algo así <br> <strong>getUsersByName(userName: string) User[]</strong> <br> se entenderá claramente la función del código</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Organiza tu código
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Primero propiedades, después métodos.</li>
                            <li>Un Item para un archivo: cada archivo debería contener solamente un componente, al igual que los servicios.</li>
                            <li>Solo una responsabilidad: Cada clase o modulo debería tener solamente una responsabilidad.</li>
                            <li>El nombre correcto: las propiedades y métodos deberían usar el sistema de camel case (ej: getUserByName), al contrario, las clases (componentes, servicios, etc) deben usar upper camel case (ej: UserComponent).</li>
                            <li>Los componentes y servicios deben tener su respectivo sufijo: UserComponent, UserService.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Componentes
                        </div>
                        <div class="card-body">
                            <p>Delega la mayor parte de tu lógica a tus servicios.</p>
                        </div>
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Servicios
                        </div>
                        <div class="card-body">
                            <p>Tus componentes nunca deben encargarse de pensar como traer data, estos solo deberían encargarse de llamar al servicio que contiene todo lo necesario. Así que por favor, no llames tus API’s en tus componentes</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
