html {
  background: #f5f7f8;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
  margin-left: 30%;
  
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;
  margin-left: 0%;
  margin-bottom: 7%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

}

@media only screen and (min-width: 600px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }

  .item-1 {
    grid-column: 1/ span 2;
  }

  .item-1 h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* card */

.card {
  min-height: 100%;
  background: rgb(245, 245, 245);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card .img{
  padding-bottom: 60%;
  background-size: 90%;
  background-position: center center;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 20px;
  display: flex;

  flex: 1;
  justify-content: space-between;
  flex-direction: column;

}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p {
  flex: 1;
  /* make p grow to fill available space*/
  line-height: 1.4;
  margin-top: 5%;
  color: rgb(131, 131, 131);
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
  text-align: right;
  display: none;

}

footer {
  bottom: 5px;
  left: 0;
  position: absolute;
  right: 150px;
  div.social-media-links {
		background: #ffffff;
		overflow: hidden;
		padding-bottom: 4px;
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
			margin: 0;
			padding: 0;
		}
		a {
			border-bottom: 0px solid rgba(0,0,0,0.95);
			border-radius: 4px;
			box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
			display: inline-block;
      height: 30px;
			padding: 20px;
			position: relative;
			transition: .2s ease-in;
      width: 30px;
			svg {
        left: 20px;
        position: absolute;
        top: 20px;
				height: 30px;
				width: 30px;
        &.glow {
          path, circle {
            fill: rgba(0,0,0,0);
          }
        }
				path, circle {
					fill: #212529;
					transition: .2s ease-in;
				}
      }
		}
		a:hover {
			transform: translateY(-4px);
			box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout(#0ebac7, 75), 0 83px 4px 0px fadeout(#0ebac7, 5);
			svg {
        &.glow {
          filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
          filter: blur(2px);
        }
			}
		}
  }
  div.vaca{
    margin-left: 48%; 
  }

}