<div class="body" > 
  <p style="font-weight: bold;color:#ffff;font-size: 40px;padding: 3px;">VACANZE</p>
  <div class="loginContainer">
      <div class="titleLogin">
        Iniciar Sesion
      </div>
      
      <div class="form">
        <div>
          <input type="text"
          placeholder="Username"
          >
        </div>
        <div>
          <input type="password"
          placeholder="Password">
        </div>
      </div>
      <div>
        <button>
          Ingresar
        </button>
      </div>
  </div>
  <div class="containerSon">
    <div class="forgotP">
      Olvidaste tu contraeña?
    </div>
    <div class="annunciation">
      Eres nuevo en Vacanze?
    </div>
    <div class="buttonLink">
      <button>
        Obtener una cuenta gratis!!
      </button>
    </div>
  </div>
</div>
