<router-outlet>
  <div class="page animsition padre" data-animsition-in="fade-in" data-animsition-out="fade-out"
    style="animation-duration: 800ms; opacity: 1;" *ngIf="StatusLogin" ng-disabled="false">
    <div class="page-content">
      <div class="page-brand-info">


      </div>
      <div class="page-login-main">
        <div class="brand visible-xs" style="text-align: center; color:white; font-weight: bold;">
          <h3 class="brand-text font-size-40" style="font-size: 50px;">Vacanze</h3>
        </div>
        <h3 class="font-size-15" style="color: white">Inicio De Sesion</h3>
        <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
          <div class="form-group">
            <label class="sr-only" for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" #Email='ngModel'
              [(ngModel)]="formModel.Email" required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password"
              #Password='ngModel' [(ngModel)]="formModel.Password" required>
          </div>
          <div class="form-group clearfix">
            <a class="pull-right" href="" data-toggle="modal" data-target="#exampleModal">Olvidaste tu contraseña?</a>
          </div>


          <button type="submit" class="btn btn-success btn-block" [disabled]="form.invalid"
            (deactivate)='onDeactivate($event)' style="font-size: 25px;font-weight: bold;">Iniciar Sesion</button>
        </form>
        <p>¿No tienes cuenta? <a href="">¡¡Registrate!!</a></p>
        <footer class="page-copyright">
          <p> Universidad Catolica Andres bello</p>
          <p>© 2019. Todos los derechos reservados.</p>
        </footer>
      </div>

      <!-- <Seccion del modal de recuperacion de contraseña> -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¿Olvidó su contraseña?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger" role="alert">
                <p style="color: black;">El correo ingresado no se encuentra registrado en <b>Vacanze</b></p>
              </div>
              <p style="color: black">Por favor, ingrese el correo con el que se encuentra registrado en el sistema</p>
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label" style="color: black">Correo electrónico:</label>
                  <input type="email" class="form-control" id="recipient-name">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary">Recuperar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <Fin de seccion del modal de recuperacion de contraseña> -->

    </div>
  </div>
</router-outlet>
